---
import Layout from './Default.astro';
import Header from '../layouts/Header.astro';
import Menu from '../layouts/Menu.astro';
import { twMerge, twJoin } from 'tailwind-merge';

export interface Props {
  chapterNum?: number;
  title?: string;
  description: string;
  ogType?: string;
  isEN?: boolean;
  isTitleHidden?: boolean;
  isSeparated?: boolean;
}

const { chapterNum, title, description, ogType, isEN, isTitleHidden, isSeparated } = Astro.props;
---

<Layout title={title} description={description} ogType={ogType} isEN={isEN} hasBorder>
  <div class="relative mx-auto max-w-[72.5rem] px-4 pb-20 md:px-10 md:pt-2">
    <Header isEN={isEN} />
    <div
      class={twJoin(
        'mt-10 flex items-start gap-7 md:h-full lg:gap-10',
        'transition-transform duration-300',
        'xl:[[data-is-searching=true]_&]:translate-x-[max(calc((var(--search-area-width)+2.5rem)-((100vw-67.5rem-var(--scrollbar-width))/2)),0px)]'
      )}
    >
      <main class="grid w-[47.5rem] gap-6 md:gap-10">
        <div
          class={twMerge(
            'relative z-10 -mb-9 flex w-fit gap-3 rounded-e-lg rounded-t-lg bg-stone-900 px-3 py-2 text-sm/normal font-medium md:-mb-14 md:gap-4 md:rounded-e-2xl md:rounded-t-2xl md:px-10 md:py-4 md:text-2xl/normal',
            isTitleHidden && 'hidden',
            isSeparated && '!mb-0'
          )}
        >
          <p class="whitespace-nowrap uppercase text-orange-500">Chapter {chapterNum}</p><h1 class="text-white">
            {title}
          </h1>
        </div>
        <slot />
      </main>
      <Menu isEN={isEN} />
    </div>
  </div>
</Layout>
