---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="授業における著作権">
  <Section
    id="class"
    number="01"
    title="授業と著作物"
    description="ここでは授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用語の定義、および授業で著作物を扱う際のフローについて説明します。"
  >
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '授業で第三者の著作物を扱うのは、どういう場面がありますか？',
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: 'プリントに文章とかイラスト使ったり……',
          feLevel: '3',
        },
        {
          speaker: '大院',
          text: 'おれは、授業で見せるスライドの中で使うことあるな。後はLMS（Learning Management System：学習支援システム）で、資料配布したり。',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '小中先生は板書したり、読み聞かせしたりもありますよね。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: 'あ、それも著作権が関係するんですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '板書は複製権、読み聞かせは口述権、LMSで資料を配布するのは複製権と公衆送信権が関係あります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'CHAPTER1（P20）で、Webサイトを見ながら操作をするのは公の伝達だと言われた。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'それもありますね。あと、授業でなにかの映像を流すこともあると思いますが、それは上映権になります。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: 'いろいろな権利が関係あるのですね。',
          feLevel: '3',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <p>
      P26で、利用可能な著作物や「権利制限」について説明しました。
      授業で第三者の著作物を扱う時は、【01】のフロー図のような確認が必要となります。
    </p>
    <ImgCaption>
      <figcaption>
        【01】授業で著作物を扱う時のフロー図
      </figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <p>
      権利制限規定がたくさんありますが、授業では「引用（32条1項）」
      「学校その他の教育機関における複製等（35条）」
      「営利を目的としない上映等（38条）」をおさえておくとよいでしょう。
    </p>
    <p>
      先程の例で言うと、授業で読み聞かせたり、映像を見せたりするのは、
      38条を適用できる場合が多いと考えられます。
    </p>
    <p>
      32条と35条について、以降で詳しく説明します。
    </p>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="quote"
    number="02"
    title="引用（32条1項）"
    description="このSECTIONでは、著作権法で定められている「引用」について説明します。著作権法上の「引用」は決まりごとが多く説明がたくさんありますが、がんばって読んでみてください。"
  >
    <h3>引用とは</h3>
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '引用って聞いた時にどんなイメージですか？',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'よそから引っ張ってきてたら引用かな。転載のことかな？',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '要約したりもあるような？',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: '広義で言う「引用」って、人によって違うんですよね。ここで説明するのは、あくまでも著作権法上の「引用」となります。広義で使われている「引用」という言葉とは、意味合いが異なりますので注意が必要です',
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <p>
      著作権法の32条1項には以下のように書かれています。
    </p>
    <Point type="simple" title="第32条（引用）">
      <span class="text-orange-600">1</span>　公表された著作物は、引用して利用することができる。この場合において、
      その引用は、公正な慣行に合致するものであり、かつ、報道、批評、研究その他の引用の目的上
      正当な範囲内で行なわれるものでなければならない。
    </Point>
    <p>
      32条1項の引用として著作物を利用するには、次の条件にすべてあてはまることが必要です。
    </p>
    <ListArea>
      <ul>
        <li>
          公表された著作物であること
        </li>
        <li>
          「引用」であること
          <ul>
            <li>区別性：引用した箇所が明確になっていること（カギカッコや区切り線など）</li>
            <li>主従関係：量的にも質的にも本文が「主」、引用部分が「従」であること</li>
          </ul>
        </li>
        <li>
          引用による利用行為が
          <Popup
            id="c2s2_1"
            popup="他人の著作物を利用する側の利用の目的、その方法や態様、利用される著作物の種類や性質、当該著作物の著作権者に及ぼす影響の有無・程度などを総合考慮すべきとされています。東京地判平成30年2月21日（平成28（ワ）37339）〔沖縄うりずんの雨事件第一審〕">
            「公正な慣行」に合致し、「引用の目的上正当な範囲内」
          </Popup>

          であること
          <ul>
            <li>
              引用だからといって、その著作物の販売に悪影響を与えるなど
              著作権者に大きな経済的打撃を与えてはいけないし、引用して利用する著作物全体のうち、
              利用する部分が妥当な範囲かが問われるということです。
            </li>
          </ul>
        </li>
        <li>
          <Popup
            id="c2s2_2"
            popup="正確に言えば出所の明示（48条1項1号）は、引用の要件ではないですが、「公正な慣行」に合致するかの判断に考慮する裁判例もあります（知財高判平成30年8月23日（平成30（ネ）10023）〔沖縄うりずんの雨事件控訴審〕）。いずれにせよ、出所の明示は必要と理解しておきましょう。">
            出所を明示すること
          </Popup>
        </li>
        <li>
          <Popup
            id="c2s2_3"
            popup="厳密には引用の要件ではありませんが、同一性保持権への配慮が必要なため、引用部分を改変していないことも加えています。">
            引用部分を改変していないこと
          </Popup>
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '引用を適用するための条件の中に「引用であること」が入ってるのってどういうことなんだ?',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_4"
                popup="「転載」の定義は著作権法にはありません。中山信弘『著作権法〔第 3 版〕』（有斐閣、2020）410 頁では、「転載とは著作物の全部あるいは一部をそのまま掲載すること」を指すとされています。引用も転載の一種といえるでしょう。">
                何かの目的があって、第三者の著作物を転載したいわけですよね。
              </Popup>
              その時に、自分の著作物の中でどこが転載箇所なのか明確になっていること（区別性）、
              自分の著作物の方が質的量的に「主」となっていること（主従関係）の両方が成立していることが、
              「引用」になるということです。これらが、単なる転載じゃなく「引用」にあたるための必要最低限の条件です【01】。
            </>
          ),
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'なるほど。その「引用」であって、出所明示とかほかの条件がすべてあてはまって、32条が適用できると。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_5"
                popup="引用の条件は、特に区別性と主従関係の位置付けについては様々な整理の仕方、見解があります。どの文言に位置付けられるにせよ、これらの条件をみたしていれば、適法な引用になると考えられます。">
                そういうことになります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>

    <ImgCaption>
      <figcaption>【01】引用と転載の違い</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>

    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: 'プリントやスライドなどの余白がさびしいからと言って、にぎやかしのためにイラストを入れるのは、引用の目的上正当な範囲とは言えないことが多いでしょう。でも、あるキャラクターについて、研究したり批評したりするために必要だったら、そのキャラクターの絵を引用して使うことができます。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'ピカチューの研究だったら、ピカチューの絵を使えるんだな。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'あくまで引用の条件すべてをみたす必要がありますので、ピカチューの研究だったらピカチューの絵をなんでも使ってよいわけではないですよ。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: '出所って、なんか刑務所から出てくるみたいですけど……',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: 'ふふ、確かに法律的な表現ですね。普通に言うと「出典を書く」となります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: '文章だとそのまま書かないといけないんだよな？元の文章に誤字脱字があっても？',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              引用する箇所をそのまま書く必要があります。
              原文に誤字脱字がある場合は「原文ママ」などと書くとよいと思います。
              <Popup
                id="c2s2_6"
                popup="翻訳引用（47条の6第1項2号）は条文上認められている一方、要約引用は条文上認められておらず、解釈に委ねられています（要約引用を認めた裁判例として、東京地判平成10年10月30日判タ991号240頁〔血液型と性格の社会史事件〕）。">
                翻訳して引用することは著作権法でOKとされています。
              </Popup>
            </>
          ),
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: '画像とかはどうしたらいいんですか。必要最小限で一部切り取るのか、それとも改変なく原型のまま使うのか。',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: (
            <>
              画像はそのまま使うのが基本です。しかし、その画像の一部に特に注目して言及したい場合には、
              その一部であることをわかりやすく表示し、なおかつ、
              <Popup
                id="c2s2_7"
                popup="中山信弘『著作権法〔第3版〕』（有斐閣、2020）409頁は、「引用においては、全部引用でない限り、同一性保持権の問題は不可避的に生ずるが、引用については部分引用が通常であり、しかも適法引用である限り、著作者は自己の作品との結び付きにつき誤解を与えられるというおそれも少なく、同一性保持権侵害にはならないと解すべきである。」としています。">
                引用であることを明確にする必要があります【02】。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <ImgCaption>
      <figcaption>【02】画像の引用例</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '動画はどうしたらいいんだ？改変するなって言われても、このシーンだけに言及したいってあるんじゃないのか？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: '動画の場合は、必要な範囲で引用する箇所を切り出したり、スクリーンキャプチャで引用したりすることは可能です。この場合も、引用箇所が明確であり、引用の条件をすべてみたす必要があります。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '必要な範囲はまあわかりますけど、主従関係ってどんな感じですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '文章だと、自分が書いている箇所のほうが、引用部分より多くないといけません。画像の場合は、その画像がメインの意味合いを持つような利用の仕方だと引用にはあたりません。例えば、画集のように見開きの半ページがすべて高画質の画像とかですね。',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'スライドだと、そのページにはその画像とちょいと説明文をいれるくらいしかできない場合が多いぞ。そしたらどうしても画像のほうが大きくなる。',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
            スライドを使うのはだいたいプレゼンテーションしてる時かと思うので、口頭で説明していますよね。
            そうすると先生の説明も合わせてご自身の内容が「主」になって、画像のほうが「従」になれば、引用を適用できると思います。<br/>
            しかし、このスライド資料だけを配布すると、先生の口頭の説明がなくなってしまうので、
            全体が画像中心のスライドで自分の説明部分が分量的にも内容的にも薄いときには、
              <Popup
                id="c2s2_8"
                popup="主従関係の分量については形式的に判断されるわけではありません。例えば、書籍で著作物が引用された頁のみを取り上げて、被引用著作物と引用著作物の分量を比較することは適切ではないと判示されています（東京高判平成12年4月25日判時1724号124頁〔脱ゴーマニズム宣言事件控訴審〕）。">
                主従関係がNGとなる可能性があります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'うーん、きびしい……',
          feLevel: '4',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <Point>
      著作権法の「引用」は、条件をすべて守らなければいけない。
    </Point>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="duplication"
    number="03"
    title="授業目的の複製等（35条）"
    description="このSECTIONでは、授業目的の複製や公衆送信について定められている35条について説明します。2018年に35条が改正された際の内容についても説明します。"
  >
    <h3>
      授業で著作物を扱う際の権利制限
    </h3>
    <p>
      著作権法35条には、授業の過程で著作物を扱う際の権利制限が定められています。
      授業のために学生と共有したい資料に、限られた範囲ではありますが、
      他人の著作物を著作権者の許諾なしに利用することができるようになります。
    </p>
    <p>
      なんでもできるわけではなく、できることとできる範囲が「限られている」ことを意識することが大切です。
      それらは著作権法の条文に書かれており、それをさらに具体的にまとめようとしているのが「改正著作権法第35条運用指針」です。
    </p>
    <p>
      本書では、簡単に「運用指針」と略して記載します。運用指針については、P40で詳しく説明します。
    </p>
    <p>
      条文には以下のように書かれています。
    </p>

    <Point type="simple" title="第35条（学校その他の教育機関における複製等）">
      <span class="text-orange-600">1</span>　
      学校その他の教育機関（営利を目的として設置されているものを除く。）において教育を担任する者及び授業を受ける者は、
      その授業の過程における利用に供することを目的とする場合には、その必要と認められる限度において、
      公表された著作物を複製し、若しくは公衆送信（自動公衆送信の場合にあつては、送信可能化を含む。以下この条において同じ。）
      を行い、又は公表された著作物であつて公衆送信されるものを受信装置を用いて公に伝達することができる。
      ただし、当該著作物の種類及び用途並びに当該複製の部数及び当該複製、
      公衆送信又は伝達の態様に照らし著作権者の利益を不当に害することとなる場合は、この限りでない。
    </Point>

    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '何言ってるかわからない！むり！もう心折れそう……',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'カッコの中の文章も長いし、どことどこが繋がってんのかわかりにくい……',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: '法律的な表現なので難しいですよね。そんなみなさんのために、「改正著作権法第35条運用指針」があるのです。本書では、この運用指針の内容をさらにわかりやすく説明します。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: '改正ってついてるけど、なんなんだ？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: '運用指針ができた背景を説明しないといけないですね。',
          feLevel: '4',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <h4>
      2018年の35条改正
    </h4>
    <p>
      著作権法はよく改正されるのですが、2018年には35条とそれに関する箇所の改正があり、大きな制度変更がありました【01】 。
      具体的には補償金制度が導入されたのです。
    </p>
    <ImgCaption>
      <figcaption>【01】旧35条と改正35条</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <p>
      旧35条では、第三者の著作物を授業で扱う際、以下の取り扱いになっていました。
    </p>
    <ListArea>
      <h5>
        授業目的で無許諾、無償でできたこと
      </h5>
      <ul>
        <li>
          複製
          <ul>
            <li>
              授業で利用するための複製と、複製物の教室での配布
            </li>
          </ul>
        </li>
        <li>
          授業で利用するための複製と、複製物の教室での配布
          <ul>
            <li>
              <Popup
                id="c2s3_1"
                popup="島並良、上野達弘、横山久芳『 著作権法入門〔第3版〕』（有斐閣、2021）198頁。">
                少なくとも主会場に教員と生徒、遠隔地の副会場に生徒がいることが前提とされる授業で、
                遠隔会議システムなどを利用して、離れた会場へ同時中継すること
              </Popup>
            </li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        許諾をとらないといけなかったこと
      </h5>
      <ul>
        <li>
          「遠隔合同授業等における公衆送信」以外の公衆送信
          <ul>
            <li>
              授業時間以外の公衆送信や、オンデマンド型授業における公衆送信
            </li>
            <li>
              同時中継のものでも、授業をしている教員のところに学生がいない場合（スタジオ型授業）の公衆送信
            </li>
          </ul>
        </li>
        <li>
          Webサイトの画面などをプロジェクターでスクリーンに投影して見せるような「公の伝達」
        </li>
      </ul>
    </ListArea>
    <p>
      改正35条では、授業目的の公の伝達と、補償金を支払えば前ページのような公衆送信を、許諾なくおこなってよいことになったのです。
      できるようになったことを授業形態ごとにまとめると【02】のようになります。
    </p>
    <p>
      やや難しいのは、公衆送信のすべてについて補償金が必要とされているわけではない点です。
      公衆送信のなかでもいわゆる遠隔合同授業等で行われる場合は補償金の支払いなく無償、無許諾で利用できます（35条3項）。
    </p>
    <div>
      これは、2018年の著作権法改正前に無償でできた利用については引き続き無償にするため、
      <Popup
        id="c2s3_2"
        popup="「公衆送信」と「公の伝達」の用語について、P19の4で説明しています。さらに『運用指針』による用語定義と具体例を、この後のP40で説明しています。">
        改正後の公衆送信にも無償でできる利用が残された
      </Popup>
      ためです。
    </div>

    <ImgCaption>
      <figcaption>【02】公衆送信の許諾</figcaption>
      <table class="text-3.25 md:text-sm leading-tight md:leading-tight">
        <thead>
          {[
            [
              {
                th: '授業形態',
                colspan: '2',
              },
              {
                th: '授業時間内の参加場所',
                colspan: '2',
              },
              {th: '資料配布※2'},
              {th: '公の伝達'},
              {
                th: '資料公衆送信',
                rowspan: '2',
              },
              {
                th: '授業映像公衆送信',
                rowspan: '2',
              },
            ],
            [
              {th: '教室内'},
              {th: '教室内'},
              {th: '授業時間内'},
              {th: '授業時間外'},
              {th: '同時中継'},
              {th: '録画'},
            ],
          ].map((item) => {
            return (
                <tr>
                  {item.map(({th, rowspan, colspan}) => {
                    return(
                      <th rowspan={rowspan} colspan={colspan}>
                        {th}
                      </th>
                    )
                  })}
                </tr>
              )
            })
          }
        </thead>
        <tbody>
          {[
            [
              {td: '従来教室授業'},
              {td: '対面'},
              {td: '◎'},
              {td: '○※1'},
              {td: '○'},
              {td: '○'},
              {td: '-'},
              {td: '○'},
            ],
            [
              {
                td: '遠隔合同授業等',
                rowspan: '2',
              },
              {td: '対面'},
              {td: '◎'},
              {td: '○※1'},
              {td: '○'},
              {td: '○'},
              {td: '-'},
              {td: '○'},
            ],
            [
              {td: '遠隔'},
              {td: '-'},
              {td: '-'},
              {td: '◎'},
              {td: '○'},
              {td: '◎'},
              {td: '○'},
            ],
            [
              {td: 'スタジオ型授業'},
              {td: '遠隔'},
              {td: '-'},
              {td: '-'},
              {td: '○'},
              {td: '○'},
              {td: '○'},
              {td: '○'},
            ],
            [
              {td: 'オンデマンド型授業'},
              {td: '-'},
              {td: '-'},
              {td: '-'},
              {td: '-'},
              {td: '○ '},
              {td: '-'},
              {td: '○'},
            ],
          ].map((item) => {
            return (
                <tr class="[&:nth-child(2)]:!bg-white [&:first-child]:!bg-orange-100">
                  {item.map(({td, rowspan}) => {
                    return(
                      <td class="first-of-type:text-left texet-center" rowspan={rowspan}>
                        {td}
                      </td>
                    )
                  })}
                </tr>
              )
            })
          }
        </tbody>
      </table>
      <figcaption>
        ◎：改正前から許諾なく無償でOK　◯：改正後補償金支払いにより許諾なくOK（※1は補償金不要）
      </figcaption>
      <figcaption>
        ※2 プリントやUSBメモリでの配布、AirDropなど教室内で閉じた通信による配布
      </figcaption>
    </ImgCaption>
    <div>
      <Popup
        id="c2s3_3"
        popup="運用指針25ページ">
        文化庁の整理
      </Popup>
      に従って、本冊子では、「遠隔合同授業」には2つの形態が含まれるため「遠隔合同授業等」とします。
      「遠隔合同授業等」には「同時中継合同授業」と「同時中継遠隔授業」があります。
    </div>
    <p>
      この違いは、副会場に教員がいるか否かです。つまり、「同時中継合同授業」は、
      それぞれに教員と学生がいる複数の会場を双方向通信できる形で繋いで行うタイプの授業を言います。
      これに対して、「同時中継遠隔授業」は、教員と生徒がいる主会場の教室で行われている授業を
      リアルタイム配信し、自宅などの副会場で生徒だけでも受講できるようにしたものです【03】 。
    </p>
    <ImgCaption>
      <figcaption>【03】遠隔授業形態の分類</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <Point>
      補償金を支払うことで、許諾なく公衆送信できる場面が増えた！
    </Point>
    <p>
      補償金は、公衆送信を行った著作物の著作権者に支払われるべきなのですが、現場の教員や学生が著作権者を探して直接支払うことは実質不可能です。
      なので、補償金を取りまとめる管理団体を作り、そこにまとめて支払い、そこから著作権者へ分配することになっています。
      この仕組みを「授業目的公衆送信補償金制度」と呼んでいます。補償金をまとめて支払うのも、教育機関の設置者が行いますので、
      先生方1人ひとりが支払う必要はありません（104条の11）。設置者というのは、市立小学校だったらその市、
      県立高校であればその県、大学であれば、国立大学法人や学校法人、ということになります。
    </p>
    <div>
      この補償金を収集、管理、分配するのは、
      <Popup
        id="c2s3_4"
        popup="SARTRAS \n https://sartras.or.jp/">
        「SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会）」
      </Popup>
      という団体で、「サートラス」と読みます。
    </div>

    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: 'そんな全国から金集めて何に使われるんだよっ！',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              怒らないでください。大院先生も論文や本を書かれるのではないかと思いますが、
              先生の著作物が授業での公衆送信で使われた場合に、
              <Popup
                id="c2s3_5"
                popup="SARTRASの分配金のページ \n https://sartras.or.jp/bunpai/">
                集められた補償金から先生にお金が分配されます。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'えっ、金もらえるの？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'そうなのです。だからその時が来たら、連絡が来ますのでお手続きしてくださいね。',
          feLevel: '1',
        },
        {
          speaker: '大院',
          text: 'なんだ、じゃあしかたないな（まんざらでもない）。',
          feLevel: '1',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <div>
      35条が改正された時に、権利者側と教育機関側の人が集まって、35条の運用について考える会議が設置されました。
      これを
      <Popup
        id="c2s3_6"
        popup="著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム） \n https://forum.sartras.or.jp/">
        「著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム）」
      </Popup>
      と言います（以下、「フォーラム」と略します）。
    </div>
    <p>
      P04でも説明したように、権利保護と公正な利用のバランスが難しいので、
      両者の意見を出し合いながら、共通認識を決めましょうということになったのです。
    </p>
    <p>
      法律の有識者の方々もメンバーとして参加し、法律的な判断についてアドバイスをおこなっています。
    </p>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>
</Page>
