---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import Quiz from '../../components/Quiz.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="授業における著作権">
  <Section
    id="class"
    number="01"
    title="授業と著作物"
    description="ここでは授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用語の定義、および授業で著作物を扱う際のフローについて説明します。"
  >
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '授業で第三者の著作物を扱うのは、どういう場面がありますか？',
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: 'プリントに文章とかイラスト使ったり……',
          feLevel: '3',
        },
        {
          speaker: '大院',
          text: 'おれは、授業で見せるスライドの中で使うことあるな。後はLMS（Learning Management System：学習支援システム）で、資料配布したり。',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '小中先生は板書したり、読み聞かせしたりもありますよね。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: 'あ、それも著作権が関係するんですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '板書は複製権、読み聞かせは口述権、LMSで資料を配布するのは複製権と公衆送信権が関係あります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'CHAPTER1（P20）で、Webサイトを見ながら操作をするのは公の伝達だと言われた。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'それもありますね。あと、授業でなにかの映像を流すこともあると思いますが、それは上映権になります。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: 'いろいろな権利が関係あるのですね。',
          feLevel: '3',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <p>
      P26で、利用可能な著作物や「権利制限」について説明しました。
      授業で第三者の著作物を扱う時は、【01】のフロー図のような確認が必要となります。
    </p>
    <div>
      <figcaption>
        【01】授業で著作物を扱う時のフロー図
      </figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </div>
    <p>
      権利制限規定がたくさんありますが、授業では「引用（32条1項）」
      「学校その他の教育機関における複製等（35条）」
      「営利を目的としない上映等（38条）」をおさえておくとよいでしょう。
    </p>
    <p>
      先程の例で言うと、授業で読み聞かせたり、映像を見せたりするのは、
      38条を適用できる場合が多いと考えられます。
    </p>
    <p>
      32条と35条について、以降で詳しく説明します。
    </p>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="quote"
    number="02"
    title="引用（32条1項）"
    description="このSECTIONでは、著作権法で定められている「引用」について説明します。著作権法上の「引用」は決まりごとが多く説明がたくさんありますが、がんばって読んでみてください。"
  >
    <h3>引用とは</h3>
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '引用って聞いた時にどんなイメージですか？',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'よそから引っ張ってきてたら引用かな。転載のことかな？',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '要約したりもあるような？',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: '広義で言う「引用」って、人によって違うんですよね。ここで説明するのは、あくまでも著作権法上の「引用」となります。広義で使われている「引用」という言葉とは、意味合いが異なりますので注意が必要です',
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <p>
      著作権法の32条1項には以下のように書かれています。
    </p>
    <Point type="simple" title="第32条（引用）">
      <span class="text-orange-600">1</span>　公表された著作物は、引用して利用することができる。この場合において、
      その引用は、公正な慣行に合致するものであり、かつ、報道、批評、研究その他の引用の目的上
      正当な範囲内で行なわれるものでなければならない。
    </Point>
    <p>
      32条1項の引用として著作物を利用するには、次の条件にすべてあてはまることが必要です。
    </p>
    <ListArea>
      <ul>
        <li>
          公表された著作物であること
        </li>
        <li>
          「引用」であること
          <ul>
            <li>区別性：引用した箇所が明確になっていること（カギカッコや区切り線など）</li>
            <li>主従関係：量的にも質的にも本文が「主」、引用部分が「従」であること</li>
          </ul>
        </li>
        <li>
          引用による利用行為が
          <Popup
            id="c2s2_1"
            popup="他人の著作物を利用する側の利用の目的、その方法や態様、利用される著作物の種類や性質、当該著作物の著作権者に及ぼす影響の有無・程度などを総合考慮すべきとされています。東京地判平成30年2月21日（平成28（ワ）37339）〔沖縄うりずんの雨事件第一審〕">
            「公正な慣行」に合致し、「引用の目的上正当な範囲内」
          </Popup>

          であること
          <ul>
            <li>
              引用だからといって、その著作物の販売に悪影響を与えるなど
              著作権者に大きな経済的打撃を与えてはいけないし、引用して利用する著作物全体のうち、
              利用する部分が妥当な範囲かが問われるということです。
            </li>
          </ul>
        </li>
        <li>
          <Popup
            id="c2s2_2"
            popup="正確に言えば出所の明示（48条1項1号）は、引用の要件ではないですが、「公正な慣行」に合致するかの判断に考慮する裁判例もあります（知財高判平成30年8月23日（平成30（ネ）10023）〔沖縄うりずんの雨事件控訴審〕）。いずれにせよ、出所の明示は必要と理解しておきましょう。">
            出所を明示すること
          </Popup>
        </li>
        <li>
          <Popup
            id="c2s2_3"
            popup="厳密には引用の要件ではありませんが、同一性保持権への配慮が必要なため、引用部分を改変していないことも加えています。">
            引用部分を改変していないこと
          </Popup>
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '引用を適用するための条件の中に「引用であること」が入ってるのってどういうことなんだ?',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_4"
                popup="「転載」の定義は著作権法にはありません。中山信弘『著作権法〔第 3 版〕』（有斐閣、2020）410 頁では、「転載とは著作物の全部あるいは一部をそのまま掲載すること」を指すとされています。引用も転載の一種といえるでしょう。">
                何かの目的があって、第三者の著作物を転載したいわけですよね。
              </Popup>
              その時に、自分の著作物の中でどこが転載箇所なのか明確になっていること（区別性）、
              自分の著作物の方が質的量的に「主」となっていること（主従関係）の両方が成立していることが、
              「引用」になるということです。これらが、単なる転載じゃなく「引用」にあたるための必要最低限の条件です【01】。
            </>
          ),
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'なるほど。その「引用」であって、出所明示とかほかの条件がすべてあてはまって、32条が適用できると。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_5"
                popup="引用の条件は、特に区別性と主従関係の位置付けについては様々な整理の仕方、見解があります。どの文言に位置付けられるにせよ、これらの条件をみたしていれば、適法な引用になると考えられます。">
                そういうことになります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>

    <div>
      <figcaption>【01】引用と転載の違い</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </div>

    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: 'プリントやスライドなどの余白がさびしいからと言って、にぎやかしのためにイラストを入れるのは、引用の目的上正当な範囲とは言えないことが多いでしょう。でも、あるキャラクターについて、研究したり批評したりするために必要だったら、そのキャラクターの絵を引用して使うことができます。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'ピカチューの研究だったら、ピカチューの絵を使えるんだな。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'あくまで引用の条件すべてをみたす必要がありますので、ピカチューの研究だったらピカチューの絵をなんでも使ってよいわけではないですよ。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: '出所って、なんか刑務所から出てくるみたいですけど……',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: 'ふふ、確かに法律的な表現ですね。普通に言うと「出典を書く」となります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: '文章だとそのまま書かないといけないんだよな？元の文章に誤字脱字があっても？',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              引用する箇所をそのまま書く必要があります。
              原文に誤字脱字がある場合は「原文ママ」などと書くとよいと思います。
              <Popup
                id="c2s2_6"
                popup="翻訳引用（47条の6第1項2号）は条文上認められている一方、要約引用は条文上認められておらず、解釈に委ねられています（要約引用を認めた裁判例として、東京地判平成10年10月30日判タ991号240頁〔血液型と性格の社会史事件〕）。">
                翻訳して引用することは著作権法でOKとされています。
              </Popup>
            </>
          ),
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: '画像とかはどうしたらいいんですか。必要最小限で一部切り取るのか、それとも改変なく原型のまま使うのか。',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: (
            <>
              画像はそのまま使うのが基本です。しかし、その画像の一部に特に注目して言及したい場合には、
              その一部であることをわかりやすく表示し、なおかつ、
              <Popup
                id="c2s2_7"
                popup="中山信弘『著作権法〔第3版〕』（有斐閣、2020）409頁は、「引用においては、全部引用でない限り、同一性保持権の問題は不可避的に生ずるが、引用については部分引用が通常であり、しかも適法引用である限り、著作者は自己の作品との結び付きにつき誤解を与えられるというおそれも少なく、同一性保持権侵害にはならないと解すべきである。」としています。">
                引用であることを明確にする必要があります【02】。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <div>
      <figcaption>【02】画像の引用例</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </div>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '動画はどうしたらいいんだ？改変するなって言われても、このシーンだけに言及したいってあるんじゃないのか？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: '動画の場合は、必要な範囲で引用する箇所を切り出したり、スクリーンキャプチャで引用したりすることは可能です。この場合も、引用箇所が明確であり、引用の条件をすべてみたす必要があります。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '必要な範囲はまあわかりますけど、主従関係ってどんな感じですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '文章だと、自分が書いている箇所のほうが、引用部分より多くないといけません。画像の場合は、その画像がメインの意味合いを持つような利用の仕方だと引用にはあたりません。例えば、画集のように見開きの半ページがすべて高画質の画像とかですね。',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'スライドだと、そのページにはその画像とちょいと説明文をいれるくらいしかできない場合が多いぞ。そしたらどうしても画像のほうが大きくなる。',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
            スライドを使うのはだいたいプレゼンテーションしてる時かと思うので、口頭で説明していますよね。
            そうすると先生の説明も合わせてご自身の内容が「主」になって、画像のほうが「従」になれば、引用を適用できると思います。<br/>
            しかし、このスライド資料だけを配布すると、先生の口頭の説明がなくなってしまうので、
            全体が画像中心のスライドで自分の説明部分が分量的にも内容的にも薄いときには、
              <Popup
                id="c2s2_8"
                popup="主従関係の分量については形式的に判断されるわけではありません。例えば、書籍で著作物が引用された頁のみを取り上げて、被引用著作物と引用著作物の分量を比較することは適切ではないと判示されています（東京高判平成12年4月25日判時1724号124頁〔脱ゴーマニズム宣言事件控訴審〕）。">
                主従関係がNGとなる可能性があります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'うーん、きびしい……',
          feLevel: '4',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <Point>
      著作権法の「引用」は、条件をすべて守らなければいけない。
    </Point>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>
</Page>
