---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="授業における著作権">
  <Section
    id="class"
    number="01"
    title="授業と著作物"
    description="ここでは授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用語の定義、および授業で著作物を扱う際のフローについて説明します。"
  >
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '授業で第三者の著作物を扱うのは、どういう場面がありますか？',
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: 'プリントに文章とかイラスト使ったり……',
          feLevel: '3',
        },
        {
          speaker: '大院',
          text: 'おれは、授業で見せるスライドの中で使うことあるな。後はLMS（Learning Management System：学習支援システム）で、資料配布したり。',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '小中先生は板書したり、読み聞かせしたりもありますよね。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: 'あ、それも著作権が関係するんですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '板書は複製権、読み聞かせは口述権、LMSで資料を配布するのは複製権と公衆送信権が関係あります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'CHAPTER1（P20）で、Webサイトを見ながら操作をするのは公の伝達だと言われた。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'それもありますね。あと、授業でなにかの映像を流すこともあると思いますが、それは上映権になります。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: 'いろいろな権利が関係あるのですね。',
          feLevel: '3',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <p>
      P26で、利用可能な著作物や「権利制限」について説明しました。
      授業で第三者の著作物を扱う時は、【01】のフロー図のような確認が必要となります。
    </p>
    <ImgCaption>
      <figcaption>
        【01】授業で著作物を扱う時のフロー図
      </figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <p>
      権利制限規定がたくさんありますが、授業では「引用（32条1項）」
      「学校その他の教育機関における複製等（35条）」
      「営利を目的としない上映等（38条）」をおさえておくとよいでしょう。
    </p>
    <p>
      先程の例で言うと、授業で読み聞かせたり、映像を見せたりするのは、
      38条を適用できる場合が多いと考えられます。
    </p>
    <p>
      32条と35条について、以降で詳しく説明します。
    </p>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="quote"
    number="02"
    title="引用（32条1項）"
    description="このSECTIONでは、著作権法で定められている「引用」について説明します。著作権法上の「引用」は決まりごとが多く説明がたくさんありますが、がんばって読んでみてください。"
  >
    <h3>引用とは</h3>
    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: '引用って聞いた時にどんなイメージですか？',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'よそから引っ張ってきてたら引用かな。転載のことかな？',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '要約したりもあるような？',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: '広義で言う「引用」って、人によって違うんですよね。ここで説明するのは、あくまでも著作権法上の「引用」となります。広義で使われている「引用」という言葉とは、意味合いが異なりますので注意が必要です',
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <p>
      著作権法の32条1項には以下のように書かれています。
    </p>
    <Point type="simple" title="第32条（引用）">
      <span class="text-orange-600">1</span>　公表された著作物は、引用して利用することができる。この場合において、
      その引用は、公正な慣行に合致するものであり、かつ、報道、批評、研究その他の引用の目的上
      正当な範囲内で行なわれるものでなければならない。
    </Point>
    <p>
      32条1項の引用として著作物を利用するには、次の条件に<span class="font-bold">すべてあてはまることが必要です</span>。
    </p>
    <ListArea>
      <ul>
        <li>
          公表された著作物であること
        </li>
        <li>
          「引用」であること
          <ul>
            <li>区別性：引用した箇所が明確になっていること（カギカッコや区切り線など）</li>
            <li>主従関係：量的にも質的にも本文が「主」、引用部分が「従」であること</li>
          </ul>
        </li>
        <li>
          引用による利用行為が
          <Popup
            id="c2s2_1"
            popup={[
                {
                  text: "他人の著作物を利用する側の利用の目的、その方法や態様、利用される著作物の種類や性質、当該著作物の著作権者に及ぼす影響の有無・程度などを総合考慮すべきとされています。東京地判平成30年2月21日（平成28（ワ）37339）〔沖縄うりずんの雨事件第一審〕",
                }
              ]}>
            「公正な慣行」に合致し、「引用の目的上正当な範囲内」
          </Popup>

          であること
          <ul>
            <li>
              引用だからといって、その著作物の販売に悪影響を与えるなど
              著作権者に大きな経済的打撃を与えてはいけないし、引用して利用する著作物全体のうち、
              利用する部分が妥当な範囲かが問われるということです。
            </li>
          </ul>
        </li>
        <li>
          <Popup
            id="c2s2_2"
            popup={[
                {
                  text: "正確に言えば出所の明示（48条1項1号）は、引用の要件ではないですが、「公正な慣行」に合致するかの判断に考慮する裁判例もあります（知財高判平成30年8月23日（平成30（ネ）10023）〔沖縄うりずんの雨事件控訴審〕）。いずれにせよ、出所の明示は必要と理解しておきましょう。",
                }
              ]}>
            出所を明示すること
          </Popup>
        </li>
        <li>
          <Popup
            id="c2s2_3"
            popup={[
                {
                  text: "厳密には引用の要件ではありませんが、同一性保持権への配慮が必要なため、引用部分を改変していないことも加えています。",
                }
              ]}>
            引用部分を改変していないこと
          </Popup>
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '引用を適用するための条件の中に「引用であること」が入ってるのってどういうことなんだ?',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_4"
                popup={[
                    {
                      text: "「転載」の定義は著作権法にはありません。中山信弘『著作権法〔第 3 版〕』（有斐閣、2020）410 頁では、「転載とは著作物の全部あるいは一部をそのまま掲載すること」を指すとされています。引用も転載の一種といえるでしょう。",
                    }
                  ]}>
                何かの目的があって、第三者の著作物を転載したいわけですよね。
              </Popup>
              その時に、自分の著作物の中でどこが転載箇所なのか明確になっていること（区別性）、
              自分の著作物の方が質的量的に「主」となっていること（主従関係）の両方が成立していることが、
              「引用」になるということです。これらが、単なる転載じゃなく「引用」にあたるための必要最低限の条件です【01】。
            </>
          ),
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'なるほど。その「引用」であって、出所明示とかほかの条件がすべてあてはまって、32条が適用できると。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: (
            <>
              <Popup
                id="c2s2_5"
                popup={[
                    {
                      text: "引用の条件は、特に区別性と主従関係の位置付けについては様々な整理の仕方、見解があります。どの文言に位置付けられるにせよ、これらの条件をみたしていれば、適法な引用になると考えられます。",
                    }
                  ]}>
                そういうことになります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>

    <ImgCaption>
      <figcaption>【01】引用と転載の違い</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>

    <SpeechBubbles>
      {[
        {
          speaker: '隅木',
          text: 'プリントやスライドなどの余白がさびしいからと言って、にぎやかしのためにイラストを入れるのは、引用の目的上正当な範囲とは言えないことが多いでしょう。でも、あるキャラクターについて、研究したり批評したりするために必要だったら、そのキャラクターの絵を引用して使うことができます。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'ピカチューの研究だったら、ピカチューの絵を使えるんだな。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'あくまで引用の条件すべてをみたす必要がありますので、ピカチューの研究だったらピカチューの絵をなんでも使ってよいわけではないですよ。',
          feLevel: '4',
        },
        {
          speaker: '小中',
          text: '出所って、なんか刑務所から出てくるみたいですけど……',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: 'ふふ、確かに法律的な表現ですね。普通に言うと「出典を書く」となります。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: '文章だとそのまま書かないといけないんだよな？元の文章に誤字脱字があっても？',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              引用する箇所をそのまま書く必要があります。
              原文に誤字脱字がある場合は「原文ママ」などと書くとよいと思います。
              <Popup
                id="c2s2_6"
                popup={[
                    {
                      text: "翻訳引用（47条の6第1項2号）は条文上認められている一方、要約引用は条文上認められておらず、解釈に委ねられています（要約引用を認めた裁判例として、東京地判平成10年10月30日判タ991号240頁〔血液型と性格の社会史事件〕）。",
                    }
                  ]}>
                翻訳して引用することは著作権法でOKとされています。
              </Popup>
            </>
          ),
          feLevel: '3',
        },
        {
          speaker: '小中',
          text: '画像とかはどうしたらいいんですか。必要最小限で一部切り取るのか、それとも改変なく原型のまま使うのか。',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: (
            <>
              画像はそのまま使うのが基本です。しかし、その画像の一部に特に注目して言及したい場合には、
              その一部であることをわかりやすく表示し、なおかつ、
              <Popup
                id="c2s2_7"
                popup={[
                    {
                      text: "中山信弘『著作権法〔第3版〕』（有斐閣、2020）409頁は、「引用においては、全部引用でない限り、同一性保持権の問題は不可避的に生ずるが、引用については部分引用が通常であり、しかも適法引用である限り、著作者は自己の作品との結び付きにつき誤解を与えられるというおそれも少なく、同一性保持権侵害にはならないと解すべきである。」としています。",
                    }
                  ]}>
                引用であることを明確にする必要があります【02】。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <ImgCaption>
      <figcaption>【02】画像の引用例</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '動画はどうしたらいいんだ？改変するなって言われても、このシーンだけに言及したいってあるんじゃないのか？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: '動画の場合は、必要な範囲で引用する箇所を切り出したり、スクリーンキャプチャで引用したりすることは可能です。この場合も、引用箇所が明確であり、引用の条件をすべてみたす必要があります。',
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: '必要な範囲はまあわかりますけど、主従関係ってどんな感じですか？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '文章だと、自分が書いている箇所のほうが、引用部分より多くないといけません。画像の場合は、その画像がメインの意味合いを持つような利用の仕方だと引用にはあたりません。例えば、画集のように見開きの半ページがすべて高画質の画像とかですね。',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'スライドだと、そのページにはその画像とちょいと説明文をいれるくらいしかできない場合が多いぞ。そしたらどうしても画像のほうが大きくなる。',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
            スライドを使うのはだいたいプレゼンテーションしてる時かと思うので、口頭で説明していますよね。
            そうすると先生の説明も合わせてご自身の内容が「主」になって、画像のほうが「従」になれば、引用を適用できると思います。<br/>
            しかし、このスライド資料だけを配布すると、先生の口頭の説明がなくなってしまうので、
            全体が画像中心のスライドで自分の説明部分が分量的にも内容的にも薄いときには、
              <Popup
                id="c2s2_8"
                popup={[
                    {
                      text: "主従関係の分量については形式的に判断されるわけではありません。例えば、書籍で著作物が引用された頁のみを取り上げて、被引用著作物と引用著作物の分量を比較することは適切ではないと判示されています（東京高判平成12年4月25日判時1724号124頁〔脱ゴーマニズム宣言事件控訴審〕）。",
                    }
                  ]}>
                主従関係がNGとなる可能性があります。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'うーん、きびしい……',
          feLevel: '4',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <Point>
      著作権法の「引用」は、条件をすべて守らなければいけない。
    </Point>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="duplication"
    number="03"
    title="授業目的の複製等（35条）"
    description="このSECTIONでは、授業目的の複製や公衆送信について定められている35条について説明します。2018年に35条が改正された際の内容についても説明します。"
  >
    <h3>
      授業で著作物を扱う際の権利制限
    </h3>
    <p>
      著作権法35条には、授業の過程で著作物を扱う際の権利制限が定められています。
      授業のために学生と共有したい資料に、限られた範囲ではありますが、
      他人の著作物を著作権者の許諾なしに利用することができるようになります。
    </p>
    <p>
      なんでもできるわけではなく、できることとできる範囲が「限られている」ことを意識することが大切です。
      それらは著作権法の条文に書かれており、それをさらに具体的にまとめようとしているのが「改正著作権法第35条運用指針」です。
    </p>
    <p>
      本書では、簡単に「運用指針」と略して記載します。運用指針については、P40で詳しく説明します。
    </p>
    <p>
      条文には以下のように書かれています。
    </p>

    <Point type="simple" title="第35条（学校その他の教育機関における複製等）">
      <span class="text-orange-600">1</span>　
      学校その他の教育機関（営利を目的として設置されているものを除く。）において教育を担任する者及び授業を受ける者は、
      その授業の過程における利用に供することを目的とする場合には、その必要と認められる限度において、
      公表された著作物を複製し、若しくは公衆送信（自動公衆送信の場合にあつては、送信可能化を含む。以下この条において同じ。）
      を行い、又は公表された著作物であつて公衆送信されるものを受信装置を用いて公に伝達することができる。
      ただし、当該著作物の種類及び用途並びに当該複製の部数及び当該複製、
      公衆送信又は伝達の態様に照らし著作権者の利益を不当に害することとなる場合は、この限りでない。
    </Point>

    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '何言ってるかわからない！むり！もう心折れそう……',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'カッコの中の文章も長いし、どことどこが繋がってんのかわかりにくい……',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: '法律的な表現なので難しいですよね。そんなみなさんのために、「改正著作権法第35条運用指針」があるのです。本書では、この運用指針の内容をさらにわかりやすく説明します。',
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: '改正ってついてるけど、なんなんだ？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: '運用指針ができた背景を説明しないといけないですね。',
          feLevel: '4',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <h4>
      2018年の35条改正
    </h4>
    <p>
      著作権法はよく改正されるのですが、2018年には35条とそれに関する箇所の改正があり、大きな制度変更がありました【01】 。
      具体的には補償金制度が導入されたのです。
    </p>
    <ImgCaption>
      <figcaption>【01】旧35条と改正35条</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <p>
      旧35条では、第三者の著作物を授業で扱う際、以下の取り扱いになっていました。
    </p>
    <ListArea>
      <h5>
        授業目的で無許諾、無償でできたこと
      </h5>
      <ul>
        <li>
          複製
          <ul>
            <li>
              授業で利用するための複製と、複製物の教室での配布
            </li>
          </ul>
        </li>
        <li>
          授業で利用するための複製と、複製物の教室での配布
          <ul>
            <li>
              <Popup
                id="c2s3_1"
                popup={[
                    {
                      text: "島並良、上野達弘、横山久芳『 著作権法入門〔第3版〕』（有斐閣、2021）198頁。",
                    }
                  ]}>
                少なくとも主会場に教員と生徒、遠隔地の副会場に生徒がいることが前提とされる授業で、
                遠隔会議システムなどを利用して、離れた会場へ同時中継すること
              </Popup>
            </li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        許諾をとらないといけなかったこと
      </h5>
      <ul>
        <li>
          「遠隔合同授業等における公衆送信」以外の公衆送信
          <ul>
            <li>
              授業時間以外の公衆送信や、オンデマンド型授業における公衆送信
            </li>
            <li>
              同時中継のものでも、授業をしている教員のところに学生がいない場合（スタジオ型授業）の公衆送信
            </li>
          </ul>
        </li>
        <li>
          Webサイトの画面などをプロジェクターでスクリーンに投影して見せるような「公の伝達」
        </li>
      </ul>
    </ListArea>
    <p>
      改正35条では、授業目的の公の伝達と、補償金を支払えば前ページのような公衆送信を、許諾なくおこなってよいことになったのです。
      できるようになったことを授業形態ごとにまとめると【02】のようになります。
    </p>
    <p>
      やや難しいのは、公衆送信のすべてについて補償金が必要とされているわけではない点です。
      公衆送信のなかでもいわゆる遠隔合同授業等で行われる場合は補償金の支払いなく無償、無許諾で利用できます（35条3項）。
    </p>
    <div>
      これは、2018年の著作権法改正前に無償でできた利用については引き続き無償にするため、
      <Popup
        id="c2s3_2"
        popup={[
            {
              text: "「公衆送信」と「公の伝達」の用語について、P19の4で説明しています。さらに『運用指針』による用語定義と具体例を、この後のP40で説明しています。",
            }
          ]}>
        改正後の公衆送信にも無償でできる利用が残された
      </Popup>
      ためです。
    </div>

    <ImgCaption>
      <figcaption>【02】公衆送信の許諾</figcaption>
      <table class="text-3.25 md:text-sm leading-tight md:leading-tight">
        <thead>
          {[
            [
              {
                th: '授業形態',
                colspan: '2',
              },
              {
                th: '授業時間内の参加場所',
                colspan: '2',
              },
              {th: '資料配布※2'},
              {th: '公の伝達'},
              {
                th: '資料公衆送信',
                rowspan: '2',
              },
              {
                th: '授業映像公衆送信',
                rowspan: '2',
              },
            ],
            [
              {th: '教室内'},
              {th: '教室内'},
              {th: '授業時間内'},
              {th: '授業時間外'},
              {th: '同時中継'},
              {th: '録画'},
            ],
          ].map((item) => {
            return (
                <tr>
                  {item.map(({th, rowspan, colspan}) => {
                    return(
                      <th rowspan={rowspan} colspan={colspan}>
                        {th}
                      </th>
                    )
                  })}
                </tr>
              )
            })
          }
        </thead>
        <tbody>
          {[
            [
              {td: '従来教室授業'},
              {td: '対面'},
              {td: '◎'},
              {td: '○※1'},
              {td: '○'},
              {td: '○'},
              {td: '-'},
              {td: '○'},
            ],
            [
              {
                td: '遠隔合同授業等',
                rowspan: '2',
              },
              {td: '対面'},
              {td: '◎'},
              {td: '○※1'},
              {td: '○'},
              {td: '○'},
              {td: '-'},
              {td: '○'},
            ],
            [
              {td: '遠隔'},
              {td: '-'},
              {td: '-'},
              {td: '◎'},
              {td: '○'},
              {td: '◎'},
              {td: '○'},
            ],
            [
              {td: 'スタジオ型授業'},
              {td: '遠隔'},
              {td: '-'},
              {td: '-'},
              {td: '○'},
              {td: '○'},
              {td: '○'},
              {td: '○'},
            ],
            [
              {td: 'オンデマンド型授業'},
              {td: '-'},
              {td: '-'},
              {td: '-'},
              {td: '-'},
              {td: '○ '},
              {td: '-'},
              {td: '○'},
            ],
          ].map((item) => {
            return (
                <tr class="[&:nth-child(2)]:!bg-white [&:first-child]:!bg-orange-100">
                  {item.map(({td, rowspan}) => {
                    return(
                      <td class="first-of-type:text-left texet-center" rowspan={rowspan}>
                        {td}
                      </td>
                    )
                  })}
                </tr>
              )
            })
          }
        </tbody>
      </table>
      <figcaption>
        ◎：改正前から許諾なく無償でOK　◯：改正後補償金支払いにより許諾なくOK（※1は補償金不要）
      </figcaption>
      <figcaption>
        ※2 プリントやUSBメモリでの配布、AirDropなど教室内で閉じた通信による配布
      </figcaption>
    </ImgCaption>
    <div>
      <Popup
        id="c2s3_3"
        popup={[
            {
              text: "運用指針25ページ",
            }
          ]}>
        文化庁の整理
      </Popup>
      に従って、本冊子では、「遠隔合同授業」には2つの形態が含まれるため「遠隔合同授業等」とします。
      「遠隔合同授業等」には「同時中継合同授業」と「同時中継遠隔授業」があります。
    </div>
    <p>
      この違いは、副会場に教員がいるか否かです。つまり、「同時中継合同授業」は、
      それぞれに教員と学生がいる複数の会場を双方向通信できる形で繋いで行うタイプの授業を言います。
      これに対して、「同時中継遠隔授業」は、教員と生徒がいる主会場の教室で行われている授業を
      リアルタイム配信し、自宅などの副会場で生徒だけでも受講できるようにしたものです【03】 。
    </p>
    <ImgCaption>
      <figcaption>【03】遠隔授業形態の分類</figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>
    <Point>
      補償金を支払うことで、許諾なく公衆送信できる場面が増えた！
    </Point>
    <p>
      補償金は、公衆送信を行った著作物の著作権者に支払われるべきなのですが、現場の教員や学生が著作権者を探して直接支払うことは実質不可能です。
      なので、補償金を取りまとめる管理団体を作り、そこにまとめて支払い、そこから著作権者へ分配することになっています。
      この仕組みを「授業目的公衆送信補償金制度」と呼んでいます。補償金をまとめて支払うのも、教育機関の設置者が行いますので、
      先生方1人ひとりが支払う必要はありません（104条の11）。設置者というのは、市立小学校だったらその市、
      県立高校であればその県、大学であれば、国立大学法人や学校法人、ということになります。
    </p>
    <div>
      この補償金を収集、管理、分配するのは、
      <Popup
        id="c2s3_4"
        popup={[
            {
              text: "SARTRAS",
              href: "https://sartras.or.jp/"
            }
          ]}>
        「SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会）」
      </Popup>
      という団体で、「サートラス」と読みます。
    </div>

    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: 'そんな全国から金集めて何に使われるんだよっ！',
          feLevel: '5',
        },
        {
          speaker: '隅木',
          text: (
            <>
              怒らないでください。大院先生も論文や本を書かれるのではないかと思いますが、
              先生の著作物が授業での公衆送信で使われた場合に、
              <Popup
                id="c2s3_5"
                popup={[
                    {
                      text: "SARTRASの分配金のページ",
                      href: "https://sartras.or.jp/bunpai/"
                    }
                  ]}>
                集められた補償金から先生にお金が分配されます。
              </Popup>
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '大院',
          text: 'えっ、金もらえるの？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: 'そうなのです。だからその時が来たら、連絡が来ますのでお手続きしてくださいね。',
          feLevel: '1',
        },
        {
          speaker: '大院',
          text: 'なんだ、じゃあしかたないな（まんざらでもない）。',
          feLevel: '1',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <div>
      35条が改正された時に、権利者側と教育機関側の人が集まって、35条の運用について考える会議が設置されました。
      これを
      <Popup
        id="c2s3_6"
        popup={[
            {
              text: "著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム）",
              href: "https://forum.sartras.or.jp/"
            }
          ]}>
        「著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム）」
      </Popup>
      と言います（以下、「フォーラム」と略します）。
    </div>
    <p>
      P04でも説明したように、権利保護と公正な利用のバランスが難しいので、
      両者の意見を出し合いながら、共通認識を決めましょうということになったのです。
    </p>
    <p>
      法律の有識者の方々もメンバーとして参加し、法律的な判断についてアドバイスをおこなっています。
    </p>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>

  <Section
    id="guidelines"
    number="04"
    title="改正著作権法第35条運用指針"
    description="この SECTION では、著作権教育フォーラムで作成された「運用指針」について説明します。35条を適用しようとする際に、どのように運用したり判断したりすればよいかの説明になります。"
  >
    <h3>
      改正著作権法第35条運用指針について
    </h3>
    <div>
      さきほど説明したフォーラムで、授業における著作物の運用についてまとめたものが「運用指針」です。本書では
      <Popup
        id="c2s4_1"
        popup={[
            {
              text: "SARTRAS「改正著作権法35条運用指針について」",
              href: "https://sartras.or.jp/unyoshishin/",
            }
          ]}>
        「改正著作権法第35条運用指針令和3（2021）年度版」（2020年12月）
      </Popup>
      に基づいて、わかりやすく説明をします。これは、
      <Popup
        id="c2s4_2"
        popup={[
            {
              text: "「改正著作権法第35条運用指針（令和3（2021）年度版）特別活動追補版」（2021年11月）も公開されています。",
            }
          ]}>
        SARTRASのページで全文が読めます。
      </Popup>
      また、PDFファイルをダウンロードすることも可能です。
      「改正著作権法第35条運用指針」は2020年度に初めて公開され、2021年度に改訂されています。
      この内容について、現在もフォーラムで話し合いがおこなわれているので、今後も改訂される可能性があります。
      常に最新版をチェックするようにしましょう。
    </div>
    <p>
      なお、本書では、簡単に「運用指針」と略して記載します。また、本書は2021年度版の運用指針をもとに説明します【01】。
    </p>
    <ImgCaption>
      <figcaption>
        【01】35条運用指針
      </figcaption>
      <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
    </ImgCaption>

    <h3>
      用語の定義
    </h3>
    <p>
      CHAPTER1でも用語について説明しましたが、運用指針では授業で著作物を扱う際の具体的なシーンを想定して、用語を説明しています。
    </p>

    <h4>
      複製（運用指針5ページ）
    </h4>
    <p>
      いわゆるコピーですが、紙を PDF にしたり、紙の文献を写真に撮ったりするのも「複製」になります。以下のような例が「複製」に該当します。
    </p>
    <ListArea>
      <h5>
        該当する例
      </h5>
      <ul>
        <li>
          文学作品を、黒板に板書
        </li>
        <li>
          文学作品を、ノートへ書き込み
        </li>
        <li>
          文学作品を、パソコン等でWordファイルに入力し、保存
        </li>
        <li>
          絵画を、画用紙に模写
        </li>
        <li>
          彫刻を、紙粘土により模造
        </li>
        <li>
          紙に印刷された著作物を、コピー機でコピー
        </li>
        <li>
          紙に印刷された著作物を、スキャンしてPDFファイルで保存
        </li>
        <li>
          電子ファイルの著作物を、パソコンやUSBメモリに保存
        </li>
        <li>
          電子ファイルの著作物を、サーバに蓄積（バックアップも含む）
        </li>
        <li>
          テレビ番組を、ハードディスクへ録画
        </li>
        <li>
          プロジェクターでスクリーン等に投影した映像データを、カメラやスマートフォンなどで撮影
        </li>
      </ul>
    </ListArea>
    <p>
      35条1項で複製した複製物は、授業において配布することができます（47条の7）。
    </p>

    <h4>
      公衆送信（運用指針5−6ページ）
    </h4>
    <p>
      放送、有線放送、インターネット送信、その他の方法により、「不特定の者または特定多数の者（公衆）」に送信することを言います。
      Web サーバに保存してインターネットを通じて送信可能な状態にすること（送信可能化）も含まれます。
      授業における教員等と学生・生徒間の送信は、公衆送信に該当すると考えられます。
    </p>
    <ListArea>
      <h5>
        該当する例
      </h5>
      <ul>
        <li>
          学外に設置されているサーバに保存された著作物を、学生・生徒等からのアクセスに応じて送信
        </li>
        <li>
          多数の学生・生徒等に著作物をメール送信
        </li>
        <li>
          学校のホームページに著作物を掲載
        </li>
        <li>
          テレビ放送
        </li>
        <li>
          ラジオ放送
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        該当しない例
      </h5>
      <ul>
        <li>
          校内放送のように
          <Popup
            id="c2s4_3"
            popup={[
                {
                  text: "2条1項7号の2括弧書き",
                }
              ]}>
            学校の同一の敷地内に設置されている放送設備や、
            サーバを用いて行われる同一の構内への送信
          </Popup>
          （構外からアクセスできるものを除く）
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: 'わたしのクラス30人くらいですけど、公衆になりますか？',
          feLevel: '3',
        },
        {
          speaker: '隅木',
          text: (
            <>
              運用指針6ページに「一般的に、授業における教員等と履修者間の送信は、公衆送信に該当すると考えられます」とあるので、
              小中先生のクラスも公衆になると考えた方がよいですね。<br/>
              実は、著作権法で言う「公衆」が具体的に何人以上なのかは明確に決められていないんです。<br/><br/>
              運用指針によると、少なくとも小学校のクラスの標準的な人数で「公衆」になるのでしょうが、
              具体的に何人以上という基準はありません。こういう法律的にグレーなところの扱いが難しいんですが、
              フォーラムでもまだ人数についての共通認識は得られていないようです。
            </>
          ),
          feLevel: '2',
        },
        {
          speaker: '小中',
          text: 'わかんないんだったら、とりあえず気をつけた方がいいですね……（ぶるぶる）。',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: '注意が必要なのは、特定できない人（不特定）の場合は、人数が少なくても「公衆」と解釈されます。このあたりは専門家でも意見が分かれているところでもあります。',
          feLevel: '4',
        },
        {
          speaker: '大院',
          text: 'おれのゼミは5人しかいないけど、どうなんだ？',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: (
            <>
              人数も少ないからと言って「公衆」にならないのではありません。
              修了した人が出たり、新しく入ったりする人もいらっしゃると思うので、
              1つの著作物を利用する人数がころころ変わるとなると「不特定」となり、「公衆」にあたります。<br/>
              例えば、ゼミの定員の枠が厳格に決まっており、かつ、10名未満であるなど
              「公衆」にあたらない一定の基準がフォーラムで示されることが期待されます。
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>

    <h4>
      公に伝達（運用指針9ページ）
    </h4>
    <p>
      放送やインターネット配信などの「公衆送信」は、公衆により直接受信されることを目的とするものを言います。
      公衆送信されている著作物を受信装置を用いて、さらに公に見せたり聞かせたりすることを「公の伝達」と言います。
    </p>
    <ListArea>
      <h5>
        該当する例
      </h5>
      <ul>
        <li>
          授業内容に関係するネット上の動画を授業中に受信し、教室に設置されたディスプレイ等で学生や生徒に視聴させる
        </li>
        <li>
          授業内容に関係するWebサイトを、教室でプロジェクターを使ってスクリーンに投影し、学生や生徒に見せる
        </li>
      </ul>
    </ListArea>

    <h4>
      35条が適用される「教育機関」（運用指針6ページ）
    </h4>
    <p>
      組織的、継続的に教育活動を営む非営利の教育機関であり、根拠法令に基づいて設置された機関が、35条が適用される教育機関になります。
    </p>
    <ListArea>
      <h5>
        該当する例
      </h5>
      <ul>
        <li>
          幼稚園、小学校、中学校、義務教育学校、高等学校、中等教育学校、特別支援学校、高等専門学校、各種学校、専修学校、大学等（学校教育法）
        </li>
        <li>
          防衛大学校、税務大学校、自治体の農業大学校等の大学に類する教育機関（各省の設置法や組織令など関係法令等）
        </li>
        <li>
          職業訓練等に関する教育機関（職業能力開発促進法等）
        </li>
        <li>
          保育所、認定こども園、学童保育（児童福祉法、就学前の子どもに関する教育、保育等の総合的な提供の推進に関する法律）
        </li>
        <li>
          公民館、博物館、美術館、図書館、青少年センター、生涯学習センター、その他これに類する社会教育施設（社会教育法、博物館法、図書館法等）
        </li>
        <li>
          教育センター、教職員研修センター（地方教育行政の組織及び運営に関する法律等）
        </li>
        <li>
          学校設置会社経営の学校（構造改革特別区域法。営利目的の会社により設置される教育機関だが、特例で教育機関に該当）
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        該当しない例
      </h5>
      <ul>
        <li>
          営利目的の会社や個人経営の教育施設
        </li>
        <li>
          専修学校または各種学校の認可を受けていない予備校・塾
        </li>
        <li>
          カルチャーセンター
        </li>
        <li>
          企業や団体等の研修施設
        </li>
      </ul>
    </ListArea>

    <h4>
      35条が適用される「授業」（運用指針7ページ）
    </h4>
    <p>
      ここで言う「授業」は、一般に言う「授業」ではなく、あくまでも35条を適用できる「授業」になります。
      運用指針では「学校その他の教育機関の責任において、
      その管理下で教育を担任する者が学習者に対して実施する教育活動」と定義されています。
      学生が自主的に行っている活動や、教員同士の教え合いなどは含まれないことになります。
    </p>
    <ListArea>
      <h5>
        該当する例
      </h5>
      <ul>
        <li>
          講義、実習、演習、ゼミ等
          <ul>
            <li>
              学生・生徒の予習・復習も「授業の過程」に含む
            </li>
            <li>
              反転学習の事前学習も「授業の過程」に含む
            </li>
          </ul>
        </li>
        <li>
          初等中等教育の
          <Popup
            id="c2s4_4"
            popup={[
                {
                  text: "学習指導要領で規定されている「特別活動」",
                }
              ]}>
            特別活動
          </Popup>
          <ul>
            <li>
              学級活動・ホームルーム活動
            </li>
            <li>
              クラブ活動
            </li>
            <li>
              児童・生徒会活動
            </li>
            <li>
              学校行事等（入学式、卒業式、始業式、終業式、修学旅行、運動会、水泳大会、文化祭、合唱祭等）
            </li>
          </ul>
        </li>
        <li>
          初等中等教育の部活動、課外補習授業等
        </li>
        <li>
          教育センター、教職員研修センターが行う教員に対する教育活動
        </li>
        <li>
          教員の免許状更新講習
        </li>
        <li>
          通信教育での通信授業（紙やLMSでの添削指導や試験等）、対面授業、ネット利用したメディア授業（Zoomなどを用いたオンライン配信授業）等
        </li>
        <li>
          学校や大学などの
          <Popup
            id="c2s4_5"
            popup={[
                {
                  text: "自らの事業として行うもの。収支予算の状況などに照らし、事業の規模等が相当程度になるものについては別途検討が必要。",
                }
              ]}>
            教育機関が主催する公開講座
          </Popup>
        </li>
        <li>
          社会人など学外の者を対象とした履修証明プログラム
        </li>
        <li>
          社会教育施設が主催する講座、講演会等
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        該当しない例
      </h5>
      <ul>
        <li>
          入学志願者に対する学校説明会、オープンキャンパスでの模擬授業等
        </li>
        <li>
          教職員会議
        </li>
        <li>
          大学での
          <Popup
            id="c2s4_6"
            popup={[
                {
                  text: "教員が授業内容・方法を改善し向上させるための組織的な取り組み（研修等）。",
                }
              ]}
            word="FD（Faculty Development）">
            FD
          </Popup>
          ・
          <Popup
            id="c2s4_7"
            popup={[
                {
                  text: "職員を対象とした管理運営や教育・研究支援までを含めた資質向上のための組織的な取り組み（研修等）。",
                }
              ]}
            word="SD（Staff Development）">
            SD
          </Popup>
          として実施される、教職員を対象とした研修、セミナー、情報提供
        </li>
        <li>
          高等教育での課外活動（サークル活動等）
        </li>
        <li>
          自主的なボランティア活動（単位認定がされないもの）
        </li>
        <li>
          保護者会
        </li>
        <li>
          学校その他の教育機関の施設で行われる自治会主催の講演会、PTA主催の親子向け講座等
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: '初等中等の部活動は「授業」でよくて、大学のサークル活動は「授業」じゃないのか。',
          feLevel: '4',
        },
        {
          speaker: '隅木',
          text: (
            <>
              小学校のクラブ活動は、学習指導要領で「特別活動」という教育活動であると規定されています。
              また、中高の部活動は生徒の自主的な活動ですが、担当教員の指導のもと行うなど特別活動と同等なものとみなされているようです。<br/>
              一方、大学の場合はこのようなものではないため、「授業」には該当しないということになっています。
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>

    <h4>
      「教育を担任する者」と「授業を受ける者」（運用指針8ページ）
    </h4>
    <p>
      続いて、35 条における、「教育を担任する者」と「授業を受ける者」が誰なのかについて説明します。
      こちらは、以下のように定義されています。
    </p>
    <ListArea>
      <h5>
        教育を担任する者＝実際に授業をおこなう人
      </h5>
      <ul>
        <li>
          教諭、教授、講師などで、名称、教員免許状の有無、常勤・非常勤などの雇用形態は問われません。
        </li>
        <li>
          教員・教師等の指示を受けて、事務職員や TA（Teaching Assistant）などの教育支援者・補助者が、
          学校内の設備を用いるなど学校の管理が及ぶ形で、複製や公衆送信を行う場合は、教員・教師等の行為とされます。
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        授業を受ける者＝教員等の指導を受けて実際に学習する人
      </h5>
      <ul>
        <li>
          児童、生徒、学生、科目等履修生、受講者等などで、名称や年齢は問われません。
        </li>
        <li>
          学生や生徒等の求めに応じて、事務職員やTAなどの教育支援者・補助者らが、
          学校内の設備を用いるなど学校の管理が及ぶ形で、複製や公衆送信を行う場合は、学生や生徒の行為とされます。
        </li>
      </ul>
    </ListArea>

    <h4>
      必要と認められる限度（運用指針8ページ）
    </h4>
    <p>
      授業に「必要と認められる限度」かどうかは、授業を担当する教員が判断します。
      なぜ、その複製・公衆送信・公の伝達をおこなう必要があるのか、客観的に説明できなければいけません。
    </p>
    <p>
      「必要と認められる限度」かどうかは、例えば書籍であれば何ページまでとか、いつも使える基準があるわけではありません。
      授業の内容や進め方によって異なり、個々の授業の実態に応じて判断する必要があります。
    </p>
    <ListArea>
      <h5>
        必要と認められる場合
      </h5>
      <ul>
        <li>
          1クラス内への公衆送信。クラスの人数は問わない
        </li>
        <li>
          <Popup
            id="c2s4_8"
            popup={[
                {
                  text: "運用指針12ページ",
                }
              ]}>
            授業参観に来ている保護者や、研究授業に参加している教員への授業資料のコピーの配布
          </Popup>
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        必要と認められない場合
      </h5>
      <ul>
        <li>
          誰でもアクセスできるようなかたちでの公衆送信
        </li>
        <li>
          授業内容に関係するテレビ番組を、教員がスクリーンに投影すれば済むような場合に、動画ファイルをクラス全員に配布
        </li>
        <li>
          教材を他の教員との間で使い回し
        </li>
        <li>
          授業で使用するのは一部であるのに、本の全部をコピーして学生・生徒に公衆送信
        </li>
      </ul>
    </ListArea>
    <Point>
      運用指針に書かれている定義を理解して、35条を適用できるかを判断しましょう
    </Point>

    <h4>
      著作権者の利益を不当に害することとなる場合（運用指針9−19ページ）
    </h4>
    <p>
      35条1項の終わりの方に「ただし、当該著作物の種類及び用途並びに当該複製の部数及び当該複製、
      公衆送信又は伝達の態様に照らし著作権者の利益を不当に害することとなる場合は、この限りでない。」
      と、書いてあります。このただし書きの部分に配慮が必要です。
    </p>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '「利益を不当に害する」場合ってどんなときなんでしょう？',
          feLevel: '2',
        },
        {
          speaker: '隅木',
          text: (
            <>
              条文を読むだけでは、どの程度だと不当に害するのかよくわからないですよね。<br />
              運用指針11ページには「複製や公衆送信によって現実に市販物の売れ行きが低下したり、
              将来における著作物の潜在的販路を阻害したりすることがあるか否か」が判断する
              重要な観点であると書かれています。<br /><br />
              例えば小学生が使う計算ドリル全部を、クラスの全員にコピーして配ってしまうと、
              ドリルを買う必要がなくなってしまいますよね。こういうことは、
              利益を不当に害していると判断されます。<br />
              しかしながら、状況や利用状態などによるので、判断が難しいところがあります。
              このあたりのこともフォーラムで話し合われていますので、説明していきます。
            </>
          ),
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <p>
      ただし書きでいう「利益を不当に害する」とは、基本的には販売の売れ行きが「不当に低下する」ことを意味します。
      たとえ「必要と認められる限度」だったとしても、その利用のしかたによって「著作権者の利益を不当に害する」
      と著作権者が客観的に説明できる場合には、無許諾で利用することはできません。
    </p>
    <p>
      授業目的で無許諾で著作物を複製・公衆送信などが行われれば、多少なりとも市販物の売れ行きへの影響はあるでしょう。
      そのために補償金を支払うという制度ができました。ですので、少しの利用は補償金でカバーできると思われます。
      「利益を不当に害する」のは相当な量や使い方ということになります。
    </p>
    <p>
      運用指針では、「利益を不当に害する」ことの考え方と例を示しています。
    </p>

    <h4>
      著作物の種類
    </h4>
    <p>
      ドリルやソフトウェアなどのように学生・生徒が1人1つずつ購入すべき著作物を、複製・公衆送信することは、
      販売を不当に低下させることとなり、利益を不当に害します。
    </p>
    <p>
      短文の言語の著作物（俳句、短歌、詩など）、絵画及び写真の著作物などの場合は、
      全部の利用が不可欠であるとともに、部分的に利用することは同一性保持権の侵害になる可能性があります。
      そのような種類の著作物であれば、1つの著作物の全部を複製又は公衆送信をしても著作権者等の利益を不当に害する可能性は低いです。
    </p>
    <p>
      一方、長編映画や小説などをまるごと全部複製・公衆送信することは、利益を不当に害する可能性が高いです。
      相当程度に入手困難かつ、合理的な手段で利用許諾を得ることができない著作物であれば、
      全部も可能となる場合もあり、個別に判断することが必要と考えられます。
    </p>
    <div>
      大学の授業やゼミなどで、論文を読む場合は一般的には一報すべてを読むことが多いでしょう。
      一方、論文は専門的であるが故にその対象読者は限られているので、
      <Popup
        id="c2s4_9"
        popup={[
            {
              text: "必要な論文が、大学で契約している電子ジャーナル、著者のサイト、機関リポジトリなどで無償でアクセスできるようになっている場合は、そのリンクを学生に提示しましょう。リンクの提示は複製にも公衆送信にもあたらないので問題になりません。",
            }
          ]}>
        授業で複製・公衆送信を行う場合には著作権者の利益を不当に害することがないか
        よく検討する必要があります
      </Popup>
      （CHAPTER3 Q14、Q15）。
    </div>

    <h4>
      著作物の用途
    </h4>
    <p>
      学生・生徒向けに販売されている著作物の場合、35条の権利制限を適用すると売り上げに直接影響する可能性があります。
      ですので、そのほかの著作物の利用と比べて著作権者の利益を不当に害する可能性が高くなると思われます。
    </p>
    <p>
      学生・生徒向けの教科書として作られている場合は、指定された教科書で皆が持っている状態であれば、
      その多くの部分を複製しても、著作権者の利益を不当に害する可能性は低いと考えられます。
    </p>

    <h4>
      複製の部数・公衆送信の受信者の数
    </h4>
    <p>
      運用指針18ページでは、受講者の人数によらず、当該授業の受講者の数までの複製・公衆送信は、
      著作権者の利益を不当に害さないとされています。
    </p>
    <p>
      また、父兄参観や研究授業での教員参観などで学生と同一の資料を送信する場合、参観人数分を加えても、
      「必要と認められる限度」とされています。この場合には、利益を不当に害するものではないでしょう。
    </p>
    <div>
      映画やテレビ番組の録画を教室で上映することは、非営利無償の上映にあたり許諾不要でおこなえます（38条1項）。
      しかし、動画の複製をつくって学生の人数分配布したり、オンデマンドでいつでも視聴できるようにしたりすることは、
      <Popup
        id="c2s4_10"
        popup={[
            {
              text: "動画ファイルそのものでなく、それを視聴させている授業風景を録画したものをあとから視聴できるようにすることについては、動画ファイルの視聴と代替性はないので、著作権者の利益を不当に害する可能性は低いと考えられます。",
            }
          ]}>
        著作権者の利益を不当に害する可能性が高い
      </Popup>
      と考えられます。
    </div>

    <h4>
      複製・公衆送信・伝達の態様
    </h4>
    <p>
      態様とは耳慣れない言葉ですが、複製や公衆送信のやりかた、というほどの意味です。
    </p>
    <p>
      著作物を製本して長期間保存できるような形で複製したり、
      画像や音声を単独で鑑賞可能なほど高品質なファイルとして複製したりするなど、
      複製物を単体で他の用途にも転用できるような形で作成することは、著作権者の利益を不当に害する可能性が高いと考えられます。
    </p>
    <div>
      公衆送信をする場合に、受信できる人は授業をする人と受ける人に限定されるべきです。
      例えば学生が世界に情報発信をすることが、授業に必要な活動であったとしても、そこに
      <Popup
        id="c2s4_11"
        popup={[
            {
              text: "もちろん32条の「引用」が適用できれば問題ないです。",
            }
          ]}>
        35条適用の著作物を含めることは、著作権者の利益を不当に害することとなる可能性が高い
      </Popup>
      と考えられます。
    </div>
    <p>
      基本的な考え方は以上です。以下に例をまとめます。
    </p>
    <ListArea>
      <h5>
        全部を複製しても利益を不当に害さない可能性が高い例
      </h5>
      <ul>
        <li>
          採択された教科書中の著作物の利用
          <ul>
            <li>
              個々の作品（文章作品や写真・イラスト等）の他に、発行した出版社等による著作物も含む
            </li>
            <li>
              採択された教科書の代替として使用される学習者用デジタル教科書の契約内の利用についてもOK
            </li>
          </ul>
        </li>
        <li>
          一部だけを使うことが難しいもの、一部を切り取ることによって同一性保持権を侵害してしてしまう場合
          <ul>
            <li>
              俳句、短歌、詩等の短文の言語の著作物
            </li>
            <li>
              新聞に掲載された記事等の言語の著作物
            </li>
            <li>
              写真、絵画（イラスト、版画等を含む）
            </li>
            <li>
              彫刻その他の立体の美術の著作物
            </li>
          </ul>
        </li>
        <li>
          発行から相当期間を経て入手しにくくなった雑誌などの記事
        </li>
        <li>
          学生・生徒が購入している資料の一部（図やグラフなどは全部）を、スクリーンに投影して見せるために複製すること
        </li>
        <li>
          授業風景や解説の動画の中で映像の一部として用いられている著作物
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <h5>
        利益を不当に害する可能性が高い例
      </h5>
      <ul>
        <li>
          1つの授業で、「1回目の授業で1章、2回目の授業で2章……」のように、全部の回で1冊の本の全部のコピーを渡してしまうこと
        </li>
        <li>
          学生・生徒が通常購入して利用すべき著作物を、買わずに済むようなかたちで学生・生徒に提供すること
          <ul>
            <li>
              ドリル、参考書、問題集、教材用楽譜、副読本、教育用映像ソフト、演劇用の脚本、部活で使う楽譜など
            </li>
          </ul>
        </li>
        <li>
          プログラムやアプリケーションを1つもしくは1ライセンスだけ購入し、複数の学生・生徒に複製・配布すること
        </li>
        <li>
          美術や写真等を集めて、高品質で製本したものを配布すること
        </li>
        <li>
          授業で扱うかどうかわからない状態で、組織的に著作物を素材としてサーバに蓄積し、データベース化、ライブラリ化すること
        </li>
        <li>
          授業では直接扱わないが、参考資料としてコピーを配布すること
        </li>
      </ul>
    </ListArea>
    <Point>
      著作権者の利益を、不当に害してはいけない！
    </Point>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: (
            <>
              要するに35条って、<br />
              <span class="font-bold">
                「公表された著作物」を<br />
                該当する「教育機関」で、<br />
                教員や学生・生徒が<br />
                該当する「授業の過程」における利用のために、<br />
                授業に「必要と認められる限度」であって、<br />
                利益を不当に害さない量や使い方であれば、<br />
              </span>
              著作権者の許諾をとらなくてもいいってことなんですね。
            </>
          ),
          feLevel: '1',
        },
        {
          speaker: '大院',
          text: '教員と学生が複製と公の伝達、補償金払って公衆送信ができるってわけだな。',
          feLevel: '1',
        },
        {
          speaker: '隅木',
          text: 'ちなみに著作隣接権についても、35条を適用できることとなっています（102条1項）。よって、実演、レコード、放送・有線放送された著作物を利用できます。',
          feLevel: '2',
        },
      ].map(({speaker, text, feLevel}) => {
        return (
          <Bubble speaker={speaker} feLevel={feLevel}>{text}</Bubble>
        )
      })}
    </SpeechBubbles>
    <img src="http://via.placeholder.com/1000x500" alt="" loading="lazy" />
  </Section>
</Page>
