---
import { twJoin } from 'tailwind-merge';
import Layout from '../templates/Default.astro';
import Header from '../layouts/Header.astro';
import Menu from '../layouts/Menu.astro';

const Chapter = [
  {
    title: '著作権法の基礎',
    text: '著作権法の目的について説明します。著作権法は単に権利を保護するためだけに法律が書かれているのではないことを理解しましょう。',
    href: '/basis/',
    src: '/assets/images/1-1-1.png',
    width: '1446',
    height: '898',
  },
  {
    title: '授業における著作権',
    text: '授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用語の定義、および授業で著作物を扱う際のフローについて説明します。',
    href: '/copyright/',
    src: '/assets/images/2-1-1.png',
    width: '1713',
    height: '668',
  },
  {
    title: '授業における<br />著作物利用Q&amp;A',
    text: '授業で第三者の著作物を扱う際の具体的な事例について、Q&A形式で説明を行います。',
    href: '/use/',
    src: '/assets/images/2-4.jpg',
    width: '1781',
    height: '869',
  },
  {
    title: '許諾の取り方',
    text: '保護期間や利用条件などで自由に利用できない場合、かつ権利制限を適用できない場合に著作権者の許諾が必要となります。',
    href: '/permission/',
    src: '/assets/images/1-1-3.png',
    width: '1655',
    height: '761',
  },
  {
    title: '著作権クイズ',
    text: '学習したことをもとに、全20問の著作権クイズに挑戦してみましょう。',
    href: '/quiz/',
    src: '/assets/images/quiz-featured.jpg',
    width: '1560',
    height: '826',
  },
];

const arrowCircleClass = 'h-8 w-8 transition-transform duration-200 group-hover:translate-x-2 md:h-9 md:w-9';
---

<Layout ogType="website">
  <div class="px-4 pb-16 pt-6 md:pb-20">
    <div class="mx-auto max-w-[57.5rem]">
      <Header img="none" />
      <div class="mx-auto mt-[1.625rem] text-center">
        <h1 class="font-bold">
          <img
            src="/assets/images/title.png"
            alt="「先生にぜひ読んでほしい」すごくわかる著作権と授業"
            width="1722"
            height="661"
            class="inline-block max-w-[93.6%]"
          />
        </h1>
        <div class="mt-3 inline-block md:mt-[1.875rem]">
          <img src="/assets/images/kv.png" alt="" width="1632" height="760" class="mx-auto max-w-[71.4%]" />
        </div>
      </div>
      <div class="mt-6 md:mt-10 md:px-0">
        <p class="text-base/relaxed">
          このサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。<br
          />SARTRAS（授業目的公衆送信補償金等管理協会）の共通目的基金の助成を受けて、AXIES（大学ICT推進協議会）が制作しています。
        </p>
        <a
          href="/introduction/"
          class="group mt-6 flex items-center gap-2 rounded-2xl bg-white p-4 transition-opacity hover:opacity-95 md:mt-10 md:p-10"
        >
          <div class="grow">
            <h2 class="text-lg/normal font-medium text-stone-800 md:text-2xl/normal">はじめに</h2>
            <div class="mt-1 md:mt-2">
              <p class="text-sm/relaxed">本書の読み方、キャラクターや著者の紹介です。</p>
            </div>
          </div>
          <img src="/assets/images/arrow-circle.svg" alt="" width="36" height="37" class={arrowCircleClass} />
        </a>
        <ul class="mt-6 grid gap-6 md:mt-10 md:gap-10">
          {
            Chapter.map(({ title, text, href, src, width, height }, i) => {
              return (
                <li>
                  <a
                    href={href}
                    class="group grid gap-6 rounded-2xl bg-white p-4 transition-opacity hover:opacity-95 md:flex md:gap-10 md:p-10"
                  >
                    <div class="grid gap-2 md:gap-4">
                      <div class="grid gap-1 font-medium md:gap-0">
                        <span class="font-inter text-5xl/none text-orange-600 md:text-[5rem]/none">
                          {('00' + (i + 1)).slice(-2)}
                        </span>
                        <div class="flex gap-2">
                          <h3 class="grow text-2xl/normal text-stone-800 md:text-[2rem]/normal" set:html={title} />
                          <img
                            src="/assets/images/arrow-circle.svg"
                            alt=""
                            width="36"
                            height="37"
                            class={twJoin('mt-0.5 md:mt-2', arrowCircleClass)}
                          />
                        </div>
                      </div>
                      <p>{text}</p>
                    </div>
                    <img src={src} alt="" width={width} height={height} class="object-contain md:max-w-[50%]" />
                  </a>
                </li>
              );
            })
          }
        </ul>
        <div class="mt-6 grid gap-6 md:mt-10 md:grid-cols-2 md:gap-10">
          <a
            href="/extra/"
            class="group flex items-center gap-2 rounded-2xl bg-white p-4 transition-opacity hover:opacity-95 md:p-10"
          >
            <div class="grow">
              <h2 class="text-lg/normal font-medium text-stone-800 md:text-2xl/normal">資料集・索引</h2>
              <div class="mt-1 md:mt-2">
                <p class="text-sm/relaxed">著作権を知るための資料集、用語の索引です。</p>
              </div>
            </div>
            <img src="/assets/images/arrow-circle.svg" alt="" width="36" height="37" class={arrowCircleClass} />
          </a>
          <a
            href="/afterwords/"
            class="group flex items-center gap-2 rounded-2xl bg-white p-4 transition-opacity hover:opacity-95 md:p-10"
          >
            <div class="grow">
              <h2 class="text-lg/normal font-medium text-stone-800 md:text-2xl/normal">おわりに</h2>
              <div class="mt-1 md:mt-2">
                <p class="text-sm/relaxed">本書や著者の紹介です。</p>
              </div>
            </div>
            <img src="/assets/images/arrow-circle.svg" alt="" width="36" height="37" class={arrowCircleClass} />
          </a>
        </div>
      </div>
    </div>
  </div>
  <Menu sidebar="none" />
</Layout>
