---
import Section from '../../components/Section.astro';
import IndexItem from '../../components/IndexItem.astro';
import Page from '../../templates/Page.astro';
---

<Page title="巻末特典（仮）">
  <Section
    number="01"
    title="著作権を知るための資料集"
    description="さらに著作権について知りたい方のために参考となる資料を紹介します。"
  >
    <h3>
      先生向け
    </h3>
    <ul>
      <li>
        上野達弘編『教育現場と研究者のための著作権ガイド』（有斐閣、2021）
      </li>
      <li>
        宮武久佳、大塚大『著作権ハンドブック : 先生、勝手にコピーしちゃダメ』（東京書籍、2021）
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/1tyosaku/kyouiku/sidoujireishu/index.html" target="_blank" rel="noopener noreferrer">
          文化庁 学校における場面対応型指導事例集「著作権教育5分間の使い方」
        </a>
      </li>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/pdf/92916001_01.pdf" target="_blank" rel="noopener noreferrer">
          文化庁 学校における教育活動と著作権
        </a>
      </li>
    </ul>

    <h3>
      学生・生徒向け
    </h3>
    <ul>
      <li>
        岡本薫『小中学生のための初めて学ぶ著作権〔新装改訂版〕』（朝日学生新聞社、2019）
      </li>
      <li>
        福井健策『18歳の著作権入門』（ちくまプリマー新書、2015）
      </li>
      <li>
        池村聡『はじめての著作権法』（日経文庫、2018）
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/hakase/hajimete_1/index.html" target="_blank" rel="noopener noreferrer">
          文化庁 はじめて学ぶ著作権
        </a>
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/tanoshiku/" target="_blank" rel="noopener noreferrer">
          文化庁 楽しく学ぼうみんなの著作権
        </a>
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/h22_manga/index.html" target="_blank" rel="noopener noreferrer">
          文化庁 マンガでわかる著作物の利用「作太郎の奮闘記」
        </a>
      </li>
    </ul>

    <h3>
      文化庁　講習会資料
    </h3>
    <ul>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/93726501.html" target="_blank" rel="noopener noreferrer">
          著作権テキスト
        </a>
      </li>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seminar/2022/" target="_blank" rel="noopener noreferrer">
          講習会資料集
        </a>
        <span>
          （画面下の方の「関係資料」欄に資料がPDFファイルで掲載されています。）
        </span>
      </li>
    </ul>

    <h3>
      メディア・クリエイター関連
    </h3>
    <ul>
      <li>
        大串肇、北村崇、染谷昌利、木村剛大、古賀海人、齋木弘樹、角田綾佳『著作権トラブル解決のバイブル!
        クリエイターのための権利の本』（ボーンデジタル、2018）
      </li>
      <li>
        井上拓『SNS別 最新 著作権入門』（誠文堂新光社、2022）
      </li>
    </ul>

    <h3>
      著作権法
    </h3>
    <ul>
      <li>
        中山信弘『著作権法〔第3版〕』（有斐閣、2020）
      </li>
      <li>
        岡村久道『著作権法〔第5版〕』（民事法研究会、2021）
      </li>
      <li>
        島並良、上野達弘、横山久芳『著作権法入門〔第3版〕』（有斐閣、2021）
      </li>
      <li>
        加戸守行『著作権法逐条講義〔七訂新版〕』（著作権情報センター、2021）
      </li>
      <li>
        池村聡、小坂準記、澤田将史『実務者のための著作権ハンドブック〔新版〕』（著作権情報センター、2022）
      </li>
      <li>
        岡本薫『著作権の考え方』（岩波新書、2003）
      </li>
    </ul>

    <h3>
      著作権FAQ
    </h3>
    <ul>
      <li>
        <a href="https://sartras.or.jp/faqs/" target="_blank" rel="noopener noreferrer">
          授業目的公衆送信補償金制度に関するFAQ（SARTRAS）
        </a>
      </li>
      <li>
        <a href="http://saiteiseido.bunka.go.jp/chosakuken_qa/" target="_blank" rel="noopener noreferrer">
          著作権Q&A（文化庁）
        </a>
      </li>
      <li>
        <a href="https://www.cric.or.jp/qa/index.html" target="_blank" rel="noopener noreferrer">
          著作権Q&A（著作権情報センター（CRIC)）
        </a>
      </li>
    </ul>
  </Section>

  <Section
    number="02"
    title="索引"
    description=""
  >
    <h3>
      英数
    </h3>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '35条改正',
          item: [{
            text: "2018年の35条改正",
            href: "/copyright#ref1",
            memo: "2章 section03",
          }],
        },
        {
          text: 'SARTRAS',
          item: [{
            text: "SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会） ",
            href: "/copyright#ref2",
            memo: "2章 section03",
          }],
        },
        {
          text: 'SARTRASライセンス',
          item: [{
            text: "Q16 履修期間を過ぎた後でも教材は使える？",
            href: "/use#q16",
            memo: "3章 section01",
          }],
        },
        {
          text: 'TRIPS協定',
          item: [{
            text: "Q10 海外の著作物を授業で扱う場合に注意する点は？",
            href: "/use#q10",
            memo: "3章 section01",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h3>
      五十音
    </h3>

    <h4>
      あ行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '引用',
          item: [{
            text: "引用とは",
            href: "/copyright#sec-02",
            memo: "2章 section02",
          }],
        },
        {
          text: '営利を目的としない上演等',
          item: [{
            text: "営利を目的としない上演等（38条） ",
            href: "/basis#ref3",
            memo: "1章 section04",
          }],
        },
        {
          text: '演奏権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '遠隔合同授業',
          item: [{
            text: "2018年の35条改正",
            href: "/copyright#ref1",
            memo: "2章 section03",
          }],
        },
        {
          text: 'オーバーライド問題',
          item: [{
            text: "Q6 授業で映画を上映できる？",
            href: "/use#q6",
            memo: "3章 section01",
          }],
        },
        {
          text: 'オーファンワークス',
          item: [{
            text: "Step4：著作権者がわからない場合",
            href: "/permission#ref5",
            memo: "4章 section01",
          }],
        },
        {
          text: '公に伝える権利',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '公の伝達権',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "2018年の35条改正",
                href: "/copyright#ref1",
                memo: "2章 section03",
            },
              {
                text: "公に伝達（運用指針9ページ）",
                href: "/copyright#ref6",
                memo: "2章 section04",
            },
              {
                text: "複製・公衆送信・伝達の態様",
                href: "/copyright#ref7",
                memo: "2章 section04",
            },
          ],
        },
        {
          text: 'オンデマンド型授業',
          item: [{
            text: "2018年の35条改正",
            href: "/copyright#ref1",
            memo: "2章 section03",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      か行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '改正著作権法第35条運用指針',
          item: [
              {
                text: "著作権とは",
                href: "/basis#sec-04",
                memo: "1章 section01",
            },
              {
                text: "改正著作権法第35条運用指針について",
                href: "/copyright#sec-04",
                memo: "2章 section04",
            },
          ],
        },
        {
          text: '教科用図書等への掲載',
          item: [{
            text: "教科用図書等への掲載（33条）",
            href: "/basis#ref8",
            memo: "1章 section04",
          }],
        },
        {
          text: '共同著作者（物）',
          item: [
              {
                text: "複数名が著作者となる場合（共同著作者）",
                href: "/basis#ref9",
                memo: "1章 section03",
            },
              {
                text: "Q2 共同で作成した教材は作成に関わった教員なら使える？",
                href: "/use#q2",
                memo: "3章 section01",
            },
          ],
        },
        {
          text: '共有著作権',
          item: [{
            text: "複数名が著作者となる場合（共同著作者）",
            href: "/basis#ref9",
            memo: "1章 section03",
          }],
        },
        {
          text: '許諾なく利用できる著作物の例',
          item: [{
            text: "許諾なく利用できる著作物の例",
            href: "/basis#ref10",
            memo: "1章 section02",
          }],
        },
        {
          text: 'クリエイティブ・コモンズ・ライセンス',
          item: [{
            text: "クリエイティブ・コモンズ・ライセンス（Creative Commons License）",
            href: "/basis#ref11",
            memo: "1章 section04",
          }],
        },
        {
          text: '権利制限規定',
          item: [
              {
                text: "権利制限",
                href: "/basis#ref12",
                memo: "1章 section04",
            },
              {
                text: "授業で扱う著作物",
                href: "/copyright#sec-01",
                memo: "2章 section01",
            },
              {
                text: "Q6 授業で映画を上映できる？",
                href: "/use#q6",
                memo: "3章 section01",
            },
          ],
        },
        {
          text: '公衆送信権',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "「公衆送信権」「送信可能化権」も耳慣れない言葉…",
                href: "/basis#ref13",
                memo: "1章 section04",
            },
              {
                text: "授業で扱う著作物",
                href: "/copyright#sec-01",
                memo: "2章 section01",
            },
              {
                text: "授業で著作物を扱う際の権利制限",
                href: "/copyright#sec-03",
                memo: "2章 section03",
            },
              {
                text: "公衆送信（運用指針5−6ページ）",
                href: "/copyright#ref14",
                memo: "2章 section04",
            },
              {
                text: "複製・公衆送信・伝達の態様",
                href: "/copyright#ref7",
                memo: "2章 section04",
            },
          ],
        },
        {
          text: '口述権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '公衆送信の許諾',
          item: [{
            text: "【01】公衆送信の許諾",
            href: "/copyright#ref15",
            memo: "2章 section03",
          }],
        },
        {
          text: '公表権',
          item: [
              {
                text: "公表権（18条）",
                href: "/basis#ref16",
                memo: "1章 section04",
            },
              {
                text: "Q4 卒業した学生の作文やレポートを授業で紹介したい。",
                href: "/use#q4",
                memo: "3章 section01",
            },
          ],
        },
        {
          text: 'コピーする権利',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      さ行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '試験問題としての複製等',
          item: [{
            text: "試験問題としての複製等（36条）",
            href: "/basis#ref17",
            memo: "1章 section04",
          }],
        },
        {
          text: '私的使用のための複製',
          item: [{
            text: "私的使用のための複製（30条）",
            href: "/basis#ref18",
            memo: "1章 section04",
          }],
        },
        {
          text: '氏名表示権',
          item: [
              {
                text: "氏名表示権（19条）",
                href: "/basis#ref19",
                memo: "1章 section04",
            },
              {
                text: "Q4 卒業した学生の作文やレポートを授業で紹介したい。",
                href: "/use#q4",
                memo: "3章 section01",
            },
          ],
        },
        {
          text: '授業で著作物を扱う際の権利制限',
          item: [{
            text: "授業で著作物を扱う際の権利制限",
            href: "/copyright#sec-03",
            memo: "2章 section03",
          }],
        },
        {
          text: '授業目的公衆送信補償金制度',
          item: [{
            text: "2018年の35条改正",
            href: "/copyright#ref1",
            memo: "2章 section03",
          }],
        },
        {
          text: '上映権',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "授業で扱う著作物",
                href: "/copyright#sec-01",
                memo: "2章 section01",
            },
          ],
        },
        {
          text: '上演権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '譲渡権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '職務著作',
          item: [{
            text: "職務著作（法人著作）",
            href: "/basis#ref20",
            memo: "1章 section03",
          }],
        },
        {
          text: '親告罪',
          item: [{
            text: "罰則規定",
            href: "/basis#ref21",
            memo: "1章 section04",
          }],
        },
        {
          text: 'スタジオ型授業',
          item: [{
            text: "許諾をとらないといけなかったこと",
            href: "/copyright#ref22",
            memo: "2章 section03",
          }],
        },
        {
          text: '戦時加算制度',
          item: [{
            text: "保護期間",
            href: "/basis#ref23",
            memo: "1章 section04",
          }],
        },
        {
          text: '送信可能化権',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "第35条（学校その他の教育機関における複製等）",
                href: "/copyright#ref24",
                memo: "2章 section03",
            },
              {
                text: "公衆送信（運用指針5−6ページ）",
                href: "/copyright#ref14",
                memo: "2章 section04",
            },
          ],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      た行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '貸与権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '著作権者',
          item: [{
            text: "著作者と著作権者",
            href: "/basis#ref25",
            memo: "1章 section03",
          }],
        },
        {
          text: '著作権者不明の場合の裁定補償金金額シミュレーションシステム',
          item: [{
            text: "Step4：著作権者がわからない場合",
            href: "/permission#ref5",
            memo: "4章 section01",
          }],
        },
        {
          text: '著作権フリー',
          item: [{
            text: "パブリックドメイン",
            href: "/basis#ref26",
            memo: "1章 section04",
          }],
        },
        {
          text: '著作権法改正',
          item: [{
            text: "罰則規定",
            href: "/basis#ref21",
            memo: "1章 section04",
          }],
        },
        {
          text: '著作権法上の著作物ではないものの例',
          item: [{
            text: "著作権法上の著作物でないものの例",
            href: "/basis#ref27",
            memo: "1章 section02",
          }],
        },
        {
          text: '著作財産権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '著作者',
          item: [{
            text: "著作者の定義",
            href: "/basis#sec-03",
            memo: "1章 section03",
          }],
        },
        {
          text: '著作者人格権',
          item: [{
            text: "著作者人格権",
            href: "/basis#ref28",
            memo: "1章 section04",
          }],
        },
        {
          text: '著作物の教育利用に関する関係者フォーラム',
          item: [{
            text: "著作物の教育利用に関する関係者フォーラム",
            href: "/copyright#ref29",
            memo: "2章 section03",
          }],
        },
        {
          text: '著作物の種類',
          item: [
              {
                text: "著作物の種類（10条1項）の表",
                href: "/basis#ref30",
                memo: "1章 section02",
            },
              {
                text: "著作物の種類",
                href: "/copyright#ref31",
                memo: "2章 section04",
            },
          ],
        },
        {
          text: '著作隣接権',
          item: [{
            text: "著作隣接権",
            href: "/basis#ref32",
            memo: "1章 section04",
          }],
        },
        {
          text: '展示権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '同一性保持権',
          item: [{
            text: "同一性保持権（20条）",
            href: "/basis#ref33",
            memo: "1章 section04",
          }],
        },
        {
          text: '図書館等における複製',
          item: [{
            text: "図書館等における複製（31条）",
            href: "/basis#ref34",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      な行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '二次的著作物',
          item: [
              {
                text: "著作物の種類（11条、12条、12条の2）の表",
                href: "/basis#ref35",
                memo: "1章 section02",
            },
              {
                text: "氏名表示権（19条）",
                href: "/basis#ref19",
                memo: "1章 section04",
            },
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "パブリックドメイン",
                href: "/basis#ref26",
                memo: "1章 section04",
            },
          ],
        },
        {
          text: '二次的著作物の利用に関する原著作者の権利',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      は行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '罰則規定',
          item: [{
            text: "罰則規定",
            href: "/basis#ref21",
            memo: "1章 section04",
          }],
        },
        {
          text: 'パブリックドメイン',
          item: [{
            text: "パブリックドメイン",
            href: "/basis#ref26",
            memo: "1章 section04",
          }],
        },
        {
          text: '万国著作権条約',
          item: [{
            text: "Q10 海外の著作物を授業で扱う場合に注意する点は？",
            href: "/use#q10",
            memo: "3章 section01",
          }],
        },
        {
          text: '頒布権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
        {
          text: '非親告罪',
          item: [{
            text: "罰則規定",
            href: "/basis#ref21",
            memo: "1章 section04",
          }],
        },
        {
          text: '複製(権)',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "授業で扱う著作物",
                href: "/copyright#sec-01",
                memo: "2章 section01",
            },
              {
                text: "授業で著作物を扱う際の権利制限",
                href: "/copyright#sec-03",
                memo: "2章 section03",
            },
              {
                text: "複製（運用指針5ページ）",
                href: "/copyright#ref36",
                memo: "2章 section04",
            },
              {
                text: "複製・公衆送信・伝達の態様",
                href: "/copyright#ref7",
                memo: "2章 section04",
            },
          ],
        },
        {
          text: '付随対象著作物の利用',
          item: [{
            text: "付随対象著作物の利用（30条の2）",
            href: "/basis#ref37",
            memo: "1章 section04",
          }],
        },
        {
          text: 'ベルヌ条約',
          item: [{
            text: "Q10 海外の著作物を授業で扱う場合に注意する点は？",
            href: "/use#q10",
            memo: "3章 section01",
          }],
        },
        {
          text: '法人著作',
          item: [{
            text: "職務著作（法人著作）",
            href: "/basis#ref20",
            memo: "1章 section03",
          }],
        },
        {
          text: '保護期間',
          item: [{
            text: "保護期間",
            href: "/basis#ref23",
            memo: "1章 section04",
          }],
        },
        {
          text: '補償金',
          item: [{
            text: "2018年の35条改正",
            href: "/copyright#ref1",
            memo: "2章 section03",
          }],
        },
        {
          text: '翻案権',
          item: [
              {
                text: "著作権（著作財産権）",
                href: "/basis#ref4",
                memo: "1章 section04",
            },
              {
                text: "「翻案」は、著作権法独特の言い回しかと思いますが…",
                href: "/basis#ref13",
                memo: "1章 section04",
            },
              {
                text: "教科用図書等への掲載（33条）",
                href: "/basis#ref8",
                memo: "1章 section04",
            },
              {
                text: "Q8 楽曲を練習しやすく編曲すると問題ある？",
                href: "/use#q8",
                memo: "3章 section01",
            },
              {
                text: "Q11 ビブリオバトルを行う場合に注意するポイントとは？",
                href: "/use#q11",
                memo: "3章 section01",
            },
          ],
        },
        {
          text: '翻訳権',
          item: [{
            text: "著作権（著作財産権）",
            href: "/basis#ref4",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      ま行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: '無方式主義',
          item: [{
            text: "著作権は「勝手に〇〇されない権利」",
            href: "/basis#sec-04",
            memo: "1章 section04",
          }],
        },
        {
          text: '名誉声望権',
          item: [{
            text: "同一性保持権（20条）",
            href: "/basis#ref33",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>

    <h4>
      ら行
    </h4>
    <div class="flex flex-col gap-2">
      {[
        {
          text: 'ライセンス',
          item: [{
            text: "ライセンス",
            href: "/basis#ref38",
            memo: "1章 section04",
          }],
        },
        {
          text: '利用条件',
          item: [{
            text: "利用条件を確認する",
            href: "/basis#ref39",
            memo: "1章 section04",
          }],
        },
      ].map(({text, item}) => {
        return (
        <IndexItem
          item={item}>
          {text}
        </IndexItem>
        )
      })}
    </div>
  </Section>

  <Section
    number="03"
    title="おわりに"
    description=""
  >
    <p>
      このウェブサイトでは、教育機関の先生方を対象として、主に授業で第三者の著作物を扱う際に必要な知識について説明しました。
    </p>
    <p>
      一方で、学生や生徒さんにも「これは授業だから複製していいんだよ」「引用は要件を守ってね」などのことは伝えていく必要があります。「授業だからアニメキャラを複製して作品を作ったりしてもいいけど、SNSにその作品の写真をUPしたりしたら、著作権侵害になるよ」というように、授業とプライベートの違いをご説明いただければと思います。
    </p>
    <p>
      加えて、文章や絵をかいたり、写真を撮ったりすれば、学生や生徒さん自身が著作者になり、著作権が発生することをあわせてお伝えいただければと思います。
    </p>

    <ul>
      <li>
        大学ICT推進協議会では、学生さん向けの著作権教育教材として、<a href="https://axies.jp/report/copyright_education/" target="_blank" rel="noopener noreferrer" class="text-orange-600 underline hover:no-underline">動画教材を無償で公開</a>します（2023年度より順次公開）。
      </li>
      <li>
        このウェブサイトのPDFファイルも<a href="https://axies.jp/report/copyright_education/" target="_blank" rel="noopener noreferrer" class="text-orange-600 underline hover:no-underline">同じページ</a>で、無償で公開します。
      </li>
      <li>
        <a href="https://axies.jp/report/copyright_education/" target="_blank" rel="noopener noreferrer">
          こちらのページ
        </a>
        から、CCライセンスの下、ご活用ください。
      </li>
    </ul>
  </Section>
</Page>
