---
import Section from '../../components/Section.astro';
import Clause from '../../components/Clause.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="著作権の基礎">
  <Section
    number="01"
    title="著作権法とは"
    description="このSECTION では、著作権法の目的について説明します。著作権法は単に権利を保護するためだけに法律が書かれているのではないことを理解しましょう。"
  >
    <h3>著作権法とは</h3>
    <h4>著作権法</h4>
    <p>著作権については「著作権法」で定めています。著作権法の第1条に、法律の目的が書いてあります。</p>
    <Clause article={2} paragraph={1} item={1}>
      この法律は、著作物並びに実演、レコード、放送及び有線放送に関し著作者の権利及びこれに隣接する権利を定め、これらの文化的所産の公正な利用に留意しつつ、著作者等の権利の保護を図り、もつて文化の発展に寄与することを目的とする。
    </Clause>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '著作権法って著作物をつくった人の権利を守る法律なんですよね。',
        },
        {
          speaker: '隅木',
          text: 'それは正しいのですが、もう1つ大事な役割があります。それは著作物の公正な利用です。つまり、ある程度自由に使える範囲を決めて、みんなが著作物を利用しやすくするということです。',
        },
        {
          speaker: '大院',
          text: 'ガチガチに権利を守りすぎると著作物が利用されにくくなるし、あまり自由にすると権利が守られなくなるし......',
        },
        {
          speaker: '隅木',
          text: 'この権利の保護と公正な利用のバランスが難しいですね。',
        },
        {
          speaker: '小中',
          text: '文化の発展って具体的にはどういうことでしょう?',
        },
        {
          speaker: '隅木',
          text: '著作権法でいう文化の発展は、要するに多様な表現物が生まれることです。特許が扱う技術の分野は、極端に言ってしまえば1つの技術になってもよいわけです。例えば、値段が同じなら、誰もが一番持続時間の長い電池を使いたいですよね。でも、著作物はそうではない。Mr.Childrenの曲があるから、Perfumeの曲がなくてもよいとは思わないでしょ。',
        },
        {
          speaker: '小中',
          text: 'なるほど。色々な表現が生まれることで豊かな社会になっていく、という考え方なんですね。日々多くの人が著作物を創っていて、登録の手続も必要ないから、たくさんの著作物が生まれやすくなる制度になっているんですね。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <Point>
      著作権法の目的は著作者の権利の保護と著作物の公正な利用をもって文化の発展に寄与すること。
    </Point>
    <img src="http://via.placeholder.com/680x353" alt="">
    <p>著作権法では、「著作物とはどういうものか」「著作権とはどういう権利か(作者の保護)」「どういう場合に著作権が制限されるのか(公正な利用とはなにか)」を決めています。</p>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: 'でも、法律って難しくてよくわからないです...... 具体的に書いてないところも多いし。',
        },
        {
          speaker: '隅木',
          text: '法律ではあえて抽象的に規定していて、解釈の余地があるから、人によっては違う意見が出ることもあります。判決が出ないとわからないこともあるんですよね。',
        },
        {
          speaker: '大院',
          text: 'すぐには、はっきり白黒つけられないこともあるってことだ。',
        },
        {
          speaker: '隅木',
          text: (
            <>
              白黒つけられるところはつけておきたいですよね。先生方が参考にできるものはいろいろあります。この本の副題にある
              <a href="#" class="text-orange-500 font-bold inline group pl-[15px] md:pl-4">
                <span class="underline group-hover:no-underline">「改正著作権法第35条運用指針」</span>
              </a>もそのうちの1つです。
            </>),
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
  </Section>

  <Section
    number="02"
    title="著作物とは"
    description="このSECTIONでは、著作権法で定義する「著作物」がどういうものであるかを説明します。"
  >
    <h3>著作物の定義</h3>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '著作物って使っても減るわけじゃないですよね?',
        },
        {
          speaker: '隅木',
          text: 'そうです。例えば、車は盗まれたらなくなってしまうので、すぐわかります。でも、文章は盗まれてもなくならないので、悪用されてもすぐにはわからないことがほとんどです。こういう無形の情報のうち、文化の発展に寄与する情報が著作物です。',
        },
        {
          speaker: '大院',
          text: 'でも、キャンバスに描かれた絵は盗まれたらわかるんじゃないか ?',
        },
        {
          speaker: '隅木',
          text: '絵は確かに著作物ですが、「物」としての側面と「情報」としての側面があります。著作物というと「物」だと思うかもしれませんが、著作物は「情報」なんです。つまり、著作物(情報)が有体物(絵)に乗っかっているわけです*1。その絵で、勝手にポストカードなどのグッズを作られて売られてしまったら困りますよね。たとえ、正当に絵を買ったとしても、それは物としての権利、所有権をもらっただけです。もとの絵を描いた人の情報に対する権利は、そのまま描いた人に残っています。',
        },
        {
          speaker: '大院',
          text: 'なるほど、所有してるのとは別ってことだな。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <img src="http://via.placeholder.com/680x277" alt="">
    <p>著作権法では「著作物」が保護されます。著作物とは、以下のように定義されています。</p>
    <Clause article={2} paragraph={1} item={1}>
      思想又は感情を創作的に表現したものであつて、文芸、学術、美術又は音楽の範囲に属するものをいう。
    </Clause>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: 'わたしのクラスの生徒の身長・体重一覧の表は、表現したものなので著作物ですか?',
       },
        {
          speaker: '隅木',
          text: 'いいえ、単なるデータは思想・感情ではないので、著作物にあたりません。',
        },
        {
          speaker: '大院',
          text: '料理のレシピには著作権がないって、よく聞くよ。',
        },
        {
          speaker: '隅木',
          text: '表現したものでないといけないので、アイデア自体は著作物にはあたりません。頭の中で考えてただけでは保護されないんです。レシピというアイデアそのものは著作物ではありませんが、それが本とかWeb記事とかになっている場合に、その写真や文章が著作物になることがあるので、注意は必要です。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <Point>
      思想や感情を創作的に表現したものでないと「著作物」ではない
    </Point>
  </Section>
</Page>
