---
import Section from '../../components/Section.astro';
import Clause from '../../components/Clause.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import Example from '../../components/Example.astro';
import Quiz from '../../components/Quiz.astro';
import Table from '../../components/Table.astro';
import PopupButton from '../../components/PopupButton.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="著作権の基礎">
  <Section
    id="cr_low"
    number="01"
    title="著作権法とは"
    description="このSECTION では、著作権法の目的について説明します。著作権法は単に権利を保護するためだけに法律が書かれているのではないことを理解しましょう。"
  >
    <h3>著作権法とは</h3>
    <h4>著作権法</h4>
    <p>著作権については「著作権法」で定めています。著作権法の第1条に、法律の目的が書いてあります。</p>
    <Clause article={2} paragraph={1} item={1}>
      この法律は、著作物並びに実演、レコード、放送及び有線放送に関し著作者の権利及びこれに隣接する権利を定め、これらの文化的所産の公正な利用に留意しつつ、著作者等の権利の保護を図り、もつて文化の発展に寄与することを目的とする。
    </Clause>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '著作権法って著作物をつくった人の権利を守る法律なんですよね。',
        },
        {
          speaker: '隅木',
          text: 'それは正しいのですが、もう1つ大事な役割があります。それは著作物の公正な利用です。つまり、ある程度自由に使える範囲を決めて、みんなが著作物を利用しやすくするということです。',
        },
        {
          speaker: '大院',
          text: 'ガチガチに権利を守りすぎると著作物が利用されにくくなるし、あまり自由にすると権利が守られなくなるし......',
        },
        {
          speaker: '隅木',
          text: 'この権利の保護と公正な利用のバランスが難しいですね。',
        },
        {
          speaker: '小中',
          text: '文化の発展って具体的にはどういうことでしょう?',
        },
        {
          speaker: '隅木',
          text: '著作権法でいう文化の発展は、要するに多様な表現物が生まれることです。特許が扱う技術の分野は、極端に言ってしまえば1つの技術になってもよいわけです。例えば、値段が同じなら、誰もが一番持続時間の長い電池を使いたいですよね。でも、著作物はそうではない。Mr.Childrenの曲があるから、Perfumeの曲がなくてもよいとは思わないでしょ。',
        },
        {
          speaker: '小中',
          text: 'なるほど。色々な表現が生まれることで豊かな社会になっていく、という考え方なんですね。日々多くの人が著作物を創っていて、登録の手続も必要ないから、たくさんの著作物が生まれやすくなる制度になっているんですね。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <Point>
      著作権法の目的は著作者の権利の保護と著作物の公正な利用をもって文化の発展に寄与すること。
    </Point>
    <img src="/assets/images/img-01.png" alt="">
    <p>著作権法では、「著作物とはどういうものか」「著作権とはどういう権利か(作者の保護)」「どういう場合に著作権が制限されるのか(公正な利用とはなにか)」を決めています。</p>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: 'でも、法律って難しくてよくわからないです...... 具体的に書いてないところも多いし。',
        },
        {
          speaker: '隅木',
          text: '法律ではあえて抽象的に規定していて、解釈の余地があるから、人によっては違う意見が出ることもあります。判決が出ないとわからないこともあるんですよね。',
        },
        {
          speaker: '大院',
          text: 'すぐには、はっきり白黒つけられないこともあるってことだ。',
        },
        {
          speaker: '隅木',
          text: (
            <>
              白黒つけられるところはつけておきたいですよね。先生方が参考にできるものはいろいろあります。この本の副題にある
              <PopupButton href="/" popup="「改正著作権法第35条運用指針」についてはCHAPTER2で詳しく説明します。">
                「改正著作権法第35条運用指針」
              </PopupButton>
              もそのうちの1つです。
            </>),
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
  </Section>

  <Section
    id="cr_work"
    number="02"
    title="著作物とは"
    description="このSECTIONでは、著作権法で定義する「著作物」がどういうものであるかを説明します。"
  >
    <h3>著作物の定義</h3>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: '著作物って使っても減るわけじゃないですよね?',
        },
        {
          speaker: '隅木',
          text: 'そうです。例えば、車は盗まれたらなくなってしまうので、すぐわかります。でも、文章は盗まれてもなくならないので、悪用されてもすぐにはわからないことがほとんどです。こういう無形の情報のうち、文化の発展に寄与する情報が著作物です。',
        },
        {
          speaker: '大院',
          text: 'でも、キャンバスに描かれた絵は盗まれたらわかるんじゃないか?',
        },
        {
          speaker: '隅木',
          text: '絵は確かに著作物ですが、「物」としての側面と「情報」としての側面があります。著作物というと「物」だと思うかもしれませんが、著作物は「情報」なんです。つまり、著作物(情報)が有体物(絵)に乗っかっているわけです。その絵で、勝手にポストカードなどのグッズを作られて売られてしまったら困りますよね。たとえ、正当に絵を買ったとしても、それは物としての権利、所有権をもらっただけです。もとの絵を描いた人の情報に対する権利は、そのまま描いた人に残っています。',
        },
        {
          speaker: '大院',
          text: 'なるほど、所有してるのとは別ってことだな。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <img src="/assets/images/img-01-2.png" alt="">
    <p>著作権法では「著作物」が保護されます。著作物とは、以下のように定義されています。</p>
    <Clause article={2} paragraph={1} item={1}>
      思想又は感情を創作的に表現したものであつて、文芸、学術、美術又は音楽の範囲に属するものをいう。
    </Clause>
    <SpeechBubbles>
      {[
        {
          speaker: '小中',
          text: 'わたしのクラスの生徒の身長・体重一覧の表は、表現したものなので著作物ですか?',
       },
        {
          speaker: '隅木',
          text: 'いいえ、単なるデータは思想・感情ではないので、著作物にあたりません。',
        },
        {
          speaker: '大院',
          text: '料理のレシピには著作権がないって、よく聞くよ。',
        },
        {
          speaker: '隅木',
          text: '表現したものでないといけないので、アイデア自体は著作物にはあたりません。頭の中で考えてただけでは保護されないんです。レシピというアイデアそのものは著作物ではありませんが、それが本とかWeb記事とかになっている場合に、その写真や文章が著作物になることがあるので、注意は必要です。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <Point>
      思想や感情を創作的に表現したものでないと「著作物」ではない
    </Point>
    <Example
      title="著作権法上の著作物でないものの例"
      list={[
        {
          item: '頭の中で考えただけのもの(アイデア):小説のストーリーも考えただけでは保 護されません。小説として表現されたものが保護されます。',
        },
        {
          item: 'データ、事実だけを記したもの:訃報、人事異動情報、各県の人口一覧などは、表現者の考えや気持ちを表現したものではないので、「思想又は感情」を表現したといえず、著作物になりません。',
        },
        {
          item: 'ありふれた表現やごく短い文章:「青い空」など誰でも使うようなフレーズは創作性がないと判断されることが多いです。',
        },
      ]}
    />
    <p>著作物の例としては以下のようなものがあります(10条1項)</p>
    <Table
        thead={[
          {th: '種類'},
          {th: '例'},
        ]}
        tbody={[
          {tr: [
            {td: '言語の著作物'},
            {td: '講演、論文、レポート、作文、小説、脚本、詩歌、俳句、落語、漫才など'},
          ]},
          {tr: [
            {td: '音楽の著作物'},
            {td: '曲、楽曲を伴う歌詞など'},
          ]},
          {tr: [
            {td: '舞踊、無言劇の著作物'},
            {td: '日本舞踊、バレエ、ダンス、舞踏、パントマイムなどの振り付け'},
          ]},
          {tr: [
            {td: '美術の著作物'},
            {td: '絵画、版画、彫刻、マンガ、書、舞台装置、生け花など(茶碗、壺、刀剣等の美術工芸品も含む)'},
          ]},
          {tr: [
            {td: '建築の著作物'},
            {td: '宮殿、凱旋門、庭園、塔などの建築物(鑑賞性が必要)'},
          ]},
          {tr: [
            {td: '地図、図形の著作物'},
            {td: '地図、学術的な図面、図表、設計図、立体模型、地球儀など'},
          ]},
          {tr: [
            {td: '映画の著作物'},
            {td: '劇場用映画、アニメ、ビデオ、YouTube動画、TikTok 動画、ゲームソフトの映像部分などの「録画されている動く影像」'},
          ]},
          {tr: [
            {td: '写真の著作物'},
            {td: '肖像写真、風景写真、記録写真、広告写真など'},
          ]},
          {tr: [
            {td: 'プログラムの著作物'},
            {td: 'オペレーティング・システム(OS)、アプリケーション・ソフト、家電製品用のプログラムなど'},
          ]},
        ]}
    />
    <p>このほかに次のような著作物もあります（11条、12条、12条の2）</p>
    <Table
        thead={[
          {th: '種類'},
          {th: '例'},
        ]}
        tbody={[
          {tr: [
            {td: '二次的著作物'},
            {td: '上表の著作物を翻訳、編曲、変形、翻案し、作成した著作物'},
          ]},
          {tr: [
            {td: '編集著作物'},
            {td: '百科事典、辞書、新聞、雑誌、詩集など'},
          ]},
          {tr: [
            {td: 'データベースの著作物'},
            {td: 'コンピュータで検索可能な形態をとった百科事典、辞書など'},
          ]},
        ]}
    />
    <p>編集物は、素材の選択や配列に創作性があると、著作物となります。全体としても編集著作物として保護されますが、辞典や雑誌など中身の1つ1つの記事を利用する際には、個々の記事も著作物であるため、それぞれの著作権者の許諾が必要となります。</p>
    <p>データベースの著作物は、集められた個々のデータに著作物性がなくても、データの選び方やデータを検索するための体系的な構成方法などに創作性があれば、著作物と認められます。</p>
    <SpeechBubbles>
      {[
        {
          speaker: '大院',
          text: 'データは著作物じゃないのに、データベースは著作物なのか。',
       },
        {
          speaker: '隅木',
          text: '例えば、他のデータベースでは調べられないような情報を検索できたり、同じ情報を検索するのでもキーワードの選定などに工夫があったりする場合に著作物性が認められることがあります。',
        },
      ].map(({speaker, text}) => {
        return (
          <Bubble speaker={speaker}>{text}</Bubble>
        )
      })
      }
    </SpeechBubbles>
    <p>以下のものは著作物にあたるものの、国民に周知し広く利用してもらう目的で作成されるので、許諾なく利用できます（13条）。</p>
    <Example
      title="許諾なく利用できる著作物の例"
      list={[
        {
          item: '憲法その他の法令',
        },
        {
          item: '国や地方公共団体等の告示、訓令、通達など',
        },
        {
          item: '裁判所の判決、決定、命令など',
        },
        {
          item: '国、地方公共団体等が作成する上記の翻訳物や編集物',
        },
      ]}
    />
    <Quiz title="では、ここでクイズです。下記のものは著作権法で保護される著作物でしょうか?" list={[
      {item: '（１）ファンタジー小説の設定'},
      {item: '（２）親戚の子にせがまれて、メモ用紙にさらっと描いた猫の絵'},
      {item: '（３）アニメのキャラクターの名前'},
      {item: '（４）学生のレポートに書かれたグラフ'},
    ]}>
      <div class="flex flex-col gap-8 md:gap-12">
        {[
          {
            title: '（１）ファンタジー小説の設定',
            bubble: [
              {
                speaker: '小中',
                text: '小説は著作物だから、設定も著作物かな?',
              },
              {
                speaker: '隅木',
                text: 'いいえ、抽象的な設定だけでは著作物にはあたりません。例えば、最近、主人公が異世界に飛ばされて、そこで活躍するような小説、漫画、アニメがありますが、異世界に飛ばされるという程度の設定自体はアイデアの範囲であって著作権はないので、このような設定で新たに小説を書いても著作権侵害にはならないのです。',
              },
            ],
         },
          {
            title: '（２）親戚の子にせがまれて、メモ用紙にさらっと描いた猫の絵 ',
            bubble: [
              {
                speaker: '大院',
                text: (
                  <>
                    メモ用紙に描いたようなものは、
                    <PopupButton href="/" popup="「表現」というと、何らかの物に固定されていなければいけないと思われるかもしれませんが、固定されることは著作物となるための要件ではありません。なお、映画の著作物に関しては固定されていることが要件になります。">
                      すぐ捨てるだろうし著作物じゃない
                    </PopupButton>
                    んじゃないか?
                  </>
                ),
              },
              {
                speaker: '隅木',
                text: 'いえ、いつ捨てるかは、著作権法上は問題ではなく、描いた時点で「表現されたもの」なので著作物となります',
              },
            ],
         },
        {
          title: '（３）アニメのキャラクターの名前 ',
          bubble: [
            {
              speaker: '小中',
              text: 'これはきっと著作物ですよ!',
            },
            {
              speaker: '隅木',
              text: (
                <>
                  はずれです。これは著作物にはあたりません。小中さんのお名前も著作物 にはなりません。色々な考え方がありえますが、「文芸、学術、美術又は 音楽の範囲に属するもの」に当たらない、創作性がないといった整理になると思います。ただし、
                  <PopupButton href="/" popup="キャラクターの絵との関係ではキャラクターの名前は、「著作物...の題号」(20条1項)として同一性保持権の対象にはなりえます。">
                    キャラクターの絵は著作物になります。
                  </PopupButton>
                </>
              ),
            },
          ],
         },
        {
          title: '（４）学生のレポートに書かれたグラフ',
          bubble: [
            {
              speaker: '大院',
              text: 'グラフは著作物じゃないな。単なるデータは著作物じゃないし、データをグラフにしただけだったら、創作性はないんじゃないかな?',
            },
            {
              speaker: '隅木',
              text: 'Excelなどで誰が描いても同じようなグラフになる場合は、創作性がなく、著作物にならない可能性が高いです。ですが、例えばビール消費量とかのグラフで、棒グラフをビールジョッキの絵にしているなど、表現上の工夫をしている場合は、創作性が認められて著作物になる可能性があります。',
            },
          ],
         },
        ].map(({title, bubble}) => {
          return (
            <dl>
              <dt class="p-1 bg-orange-600 text-white rounded md:px-2">{title}</dt>
              <dd class="flex flex-col gap-3 mt-4 md:gap-[19px] md:mt-[19px]">
                {bubble.map(({speaker, text}) => {
                  return (
                    <Bubble speaker={speaker}>{text}</Bubble>
                  )
                })}
              </dd>
            </dl>
          )
        })
        }
      </div>
    </Quiz>
  </Section>
</Page>
