---
type Props = {
  content: {
    title?: string;
    type?: string;
    href?: string;
    list: {
      item: string
      list?: {
        item: string
      }
    }[]
  }[]
}

const {content} = Astro.props;
---
<div class="py-4 md:py-6 border-y border-orange-500 flex flex-col gap-3 md:gap-6">
  {content.map(({title, type, href, list}) => {
    const listStyle = `${type === "disc" ? "list-disc" : "list-decimal"} pl-[15px] md:pl-4`

    return (
      title && <h5 class="font-bold text-orange-500 text-[15px] leading-normal md:text-base md:leading-normal">{title}</h5>

      <ul class={listStyle}>
        {list.map(({item, list}) => {
          return (
            <li>
              {href ? (
                <a href={href} class="text-orange-500">
                  {item}
                  {list && (
                    <ul class={listSyle}>
                      {list.map(({item}) => {
                        return (
                          <li>{item}</li>
                        )
                      })}
                    </ul>
                  )}
                  </a>
              ) : (
                  <>
                    {item}
                    {list && (
                      <ul class={listSyle}>
                        {list.map(({item}) => {
                          return (
                            <li>{item}</li>
                          )
                        })}
                      </ul>
                    )}
                  </>
              )}
            </li>
          )
        })}
      </ul>
  )
  })}
</div>
