---
const chapter = "flex py-3 pr-2 gap-2.5 before:content-[''] before:rounded-full before:bg-stone-500 before:border before:border-white before:w-[11px] before:h-[11px] md:before:hidden before:block items-center before:mx-[2.5px] md:px-0 md:py-1"

const chapter_active = "text-orange-600 flex py-3 pr-2 gap-2.5 before:content-[''] before:rounded-full before:bg-orange-500 before:border before:border-white before:w-[11px] before:h-[11px] before:block items-center before:mx-[2.5px] md:px-0 md:py-2 before:z-30"

const section = "text-sm font-normal py-3 md:py-1.5 pr-2 flex gap-2.5 before:rounded-full before:bg-stone-500 before:border before:border-white before:w-[9px] before:h-[9px] before:block items-center before:mx-[3.5px] before:z-30 md:leading-relaxed"

const section_active = "text-orange-600 text-sm font-normal py-3 md:py-1.5 pr-2 flex gap-2.5 before:rounded-full before:bg-orange-500 before:border before:border-white before:w-[9px] before:h-[9px] before:block items-center before:mx-[3.5px] before:z-30 md:leading-relaxed"
---

<div id="js-nav" class="transition-transform duration-300 md:block md:sticky md:top-10 md:max-h-[100vh-40px] top-0 left-full fixed md:left-auto md:right-0 md:transform-x-0">
  <nav class="md:w-56 lg:w-[280px] md:rounded-2xl bg-white md:p-6 px-4 pt-14 pb-6 min-h-screen w-screen z-20 md:min-h-0">
    <ul class="text-[17px] md:text-base md:leading-normal font-bold leading-normal text-stone-800 md:flex md:flex-col md:gap-2">
      <li>
        <a href="#" class={chapter}>
          <p class="grow">はじめに</p>
          <img src="/assets/images/chevron-right.svg" alt="" class="mt-0.5 md:hidden" />
        </a>
      </li>
      <li class="border-t border-stone-200 md:border-0">
        <a href="#" class={chapter}>
          <p class="grow">資料集・索引</p>
          <img src="/assets/images/chevron-right.svg" alt="" class="mt-0.5 md:hidden" />
        </a>
      </li>
      <li class="border-t border-stone-200 md:border-0">
        <a href="#" class={chapter_active}>
          <p class="grow">著作権の基礎</p>
        </a>
        <ul>
          <li class="relative before:absolute before:content-[''] before:bg-stone-200 before:w-px before:h-10 md:before:h-7 before:bottom-[24.5px] md:before:bottom-[21px] before:left-[7.5px]">
            <a href="#cr_low" class={section_active}>著作権法とは</a>
          </li>
          <li class="relative before:absolute before:content-[''] before:bg-stone-200 before:w-px before:h-10 md:before:h-7 before:bottom-[24.5px] md:before:bottom-[21px] before:left-[7.5px]">
            <a href="#cr_work" class={section}>著作物とは</a>
          </li>
          <li class="relative before:absolute before:content-[''] before:bg-stone-200 before:w-px before:h-10 md:before:h-7 before:bottom-[24.5px] md:before:bottom-[21px] before:left-[7.5px]">
            <a href="#cr_author" class={section}>著作者とは</a>
          </li>
          <li class="relative before:absolute before:content-[''] before:bg-stone-200 before:w-px before:h-10 md:before:h-7 before:bottom-[24.5px] md:before:bottom-[21px] before:left-[7.5px]">
            <a href="#cr" class={section}>著作権とは</a>
          </li>
        </ul>
      </li>
      <li class="border-t border-stone-200 md:border-0">
        <a href="#" class={chapter}>
          <p class="grow">授業における著作権</p>
          <img src="/assets/images/chevron-right.svg" alt="" class="mt-0.5 md:hidden" />
        </a>
      </li>
      <li class="border-t border-stone-200 md:border-0">
        <a href="#" class={chapter}>
          <p class="grow">授業における著作物利用 Q&A</p>
          <img src="/assets/images/chevron-right.svg" alt="" class="mt-0.5 md:hidden" />
        </a>
      </li>
      <li class="border-t border-stone-200 md:border-0">
        <a href="#" class={chapter}>
          <p class="grow">許諾の取り方</p>
          <img src="/assets/images/chevron-right.svg" alt="" class="mt-0.5 md:hidden" />
        </a>
      </li>
    </ul>
  </nav>
</div>
