---
type Props = {
  id: string;
  popup: {
    text?: string;
    href?: string;
  }[];
  word?: string;
}

const {id, popup, word} = Astro.props;
---
<>
  <div class="micromodal-slide absolute hidden" id={`modal-${id}`} aria-hidden="true">
    <div class="fixed inset-0 z-30 flex items-center justify-center bg-black/50" tabindex="-1" data-micromodal-close>
      <div class="modal__container relative z-40 w-full max-w-[340px] px-4 md:max-w-[480px] md:px-0" role="dialog" aria-modal="true" aria-labelledby={`modal-${id}-title`}>
        <header class="ml-3 inline-block rounded-t-lg bg-orange-600 px-4 py-0.5 md:ml-4 md:px-4 md:py-1">
          <h2 class="modal__title text-sm font-medium uppercase leading-normal text-white md:text-base md:leading-normal" id={`modal-${id}-title`}>
            {word ? 'Word' : 'Memo'}
          </h2>
        </header>
        <div class="rounded-2xl bg-white p-6 text-center">
          <main class="modal__content break-words text-left" id={`modal-${id}-content`}>
            {word && (
              <div class="mb-2 border-b border-orange-500 pb-1 font-bold text-orange-600">
                <p>{word}</p>
              </div>
            )}
              {popup.map(({text, href}) => {
                return (
                  <div class="mt-3 first-of-type:mt-0 md:mt-4">
                    {text && (
                      <p>
                        {text.split('\n').map(t => (<>{t}<br /></>))}
                      </p>
                    )}
                    {href && (
                      <a href={href} target="_blank" rel="noopener noreferrer" class="text-orange-500 underline">
                        {href}
                      </a>
                    )}
                  </div>
                )
              })}
          </main>
          <footer class="mt-4 inline-block md:mt-6">
            <button class="rounded-lg bg-neutral-500 py-1 px-4 text-base leading-normal text-white" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <div role="button" data-micromodal-trigger={`modal-${id}`} class="group inline cursor-pointer font-bold text-orange-600"><img src="/assets/images/question.svg" alt="" class="mb-0.5 mr-0.5 inline" decoding="async" /><span class="underline group-hover:no-underline"><slot /></span></div>
</>
