---
type Props = {
  id: string;
  popup: string;
}

const {id, popup} = Astro.props;
---
<>
  <label class="text-orange-500 font-bold inline group cursor-pointer" for={`popup-${id}`}>
    <img src="/assets/images/question.svg" alt="" class="inline mb-0.5" />
    <span class="underline group-hover:no-underline">
      <slot />
    </span>
  </label>
  <input type="checkbox" id={`popup-${id}`} class="hidden peer" />

  <div class="hidden peer-checked:flex z-30 fixed items-center justify-center inset-0 w-screen h-screen">
    <dl class="w-full max-w-[340px] md:max-w-[480px] relative z-40 px-4 md:px-0">
      <dt class="text-white bg-orange-600 uppercase font-medium text-sm md:text-base leading-normal md:leading-normal px-4 py-0.5 rounded-t-lg md:px-4 md:py-1 ml-3 md:ml-4 inline-block">Memo</dt>
      <dd class="bg-white rounded-2xl p-6 text-center">
        <p class="text-left">{popup}</p>
        <label for={`popup-${id}`} class="text-white bg-neutral-500 py-1 px-4 text-base leading-normal rounded-lg mt-4 md:mt-6 inline-block cursor-pointer">閉じる</label>
      </dd>
    </dl>
    <label for={`popup-${id}`} class="absolute z-30 w-full h-full inset-0 bg-black/50"></label>
  </div>
</>
