---

type Props = {
  thead: {
    th: string;
  }[]
  tbody: {
    tr: {
      td: string;
    }[]
  }[]
}

const {thead, tbody} = Astro.props;
---
<table>
  <thead>
    <tr class="border border-stone-800 bg-orange-600 text-white flex font-bold text-left md:text-center">
      {thead.map(({th}) => {
        return (
          <th class="py-1 px-1.5 md:p-2 first-of-type:w-[31.4%] first-of-type:min-w-[31.4%] first-of-type:md:w-[35.3%] first-of-type:md:min-w-[35.3%] first-of-type:border-0 first-of-type:grow-0 border-stone-800 border-l grow">{th}</th>
        )
      })}
    </tr>
  </thead>

  <tbody>
    {tbody.map(({tr}) => {
      return (
          <tr class="border border-t-0 border-stone-800 flex even:bg-orange-100">
            {tr.map(({td}) => {
              return (
                <td class="py-1 px-1.5 md:p-2 first-of-type:w-[31.4%] first-of-type:min-w-[31.4%] first-of-type:md:w-[35.3%] first-of-type:md:min-w-[35.3%] first-of-type:border-0 first-of-type:grow-0 border-stone-800 border-l grow">{td}</td>
              )
            })}
          </tr>
        )
    })}
  </tbody>
</table>
