---
import '../../styles/index.css';
import Footer from '../../layouts/Footer.astro';

export interface Props {
  title?: string;
  description?: string;
  ogType?: string;
}

const siteName = 'A must-read for teachers Understanding Copyright in Classes';
const siteDescription = 'description';

const { title, description, ogType } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-10 scroll-smooth" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `${title}｜${siteName}` : siteName}</title>
    <meta name="description" content={description ?? siteDescription} />
    <link rel="canonical" href={`${Astro.site}${Astro.url.pathname}`} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content={ogType ?? 'article'} />
    <meta property="og:title" content={title ? `${title}｜${siteName}` : siteName} />
    <meta property="og:description" content={description ?? siteDescription} />
    <meta property="og:url" content={`${Astro.site}/`} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content={`${Astro.site}/im-ogp.png`} />
    <meta property="og:image:alt" content={siteName} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="apple-touch-icon" sizes="192x192" href={`${Astro.site}/cropped-favicon-192x192.png`} />
    <meta name="msapplication-TileImage" content={`${Astro.site}/cropped-favicon-270x270.png`} />
    <script src="../../scripts/index.ts"></script>
  </head>
  <body class="bg-orange-100 font-noto text-[0.9375rem]/relaxed text-stone-700 antialiased md:text-base/relaxed">
    <slot />
    <Footer />
  </body>
</html>
