---
import { twJoin } from 'tailwind-merge';
import MenuItem from '../components/MenuItem.astro';
export interface Props {
  sidebar?: string;
  isEN?: boolean;
}

const { sidebar, isEN } = Astro.props;
---

<div
  id="js-nav"
  class={twJoin(
    'fixed inset-0 z-10 translate-x-full opacity-0 transition-[opacity_transform] duration-300',
    'print:hidden',
    'md:sticky md:bottom-0 md:left-auto md:right-0 md:top-[3.875rem] md:block md:max-h-[100vh-2.5rem] md:translate-x-0 md:opacity-100 md:transition-none',
    sidebar === 'none' && 'md:hidden',
  )}
>
  <nav
    class={twJoin(
      'z-20 min-h-screen w-full bg-white px-4 pb-6 pt-14',
      'md:min-h-0 md:w-60 md:rounded-2xl md:p-4',
      'lg:w-[17.5rem]',
    )}
  >
    <ul class="text-stone-800 md:flex md:flex-col">
      <MenuItem
        isEN={isEN}
        href='/introduction/'
        titleEN='Introduction'
        titleJP='はじめに'
      />
      <MenuItem
        isEN={isEN}
        href='/basis/'
        titleEN='Introduction'
        titleJP='著作権の基礎'
        submenu={[
          {
            titleEN: 'What is the Copyright Act?',
            titleJP: '著作権法とは',
            href: '/basis/',
          },
          {
            titleEN: 'What is a copyrighted work?',
            titleJP: '著作物とは',
            href: '/basis02/',
          },
          {
            titleEN: 'Who is the author?',
            titleJP: '著作者とは',
            href: '/basis03/',
          },
          {
            titleEN: 'What is Copyright?',
            titleJP: '著作権とは',
            href: '/basis04/',
          },
        ]}
      />
      <MenuItem
        isEN={isEN}
        href='/copyright/'
        titleEN='Copyright in Classes'
        titleJP='授業における著作権'
        submenu={[
          {
            titleEN: 'Classes and copyrighted works',
            titleJP: '授業と著作物',
            href: '/copyright/',
          },
          {
            titleEN: 'Citation (Article 32(1))',
            titleJP: '引用（32条1項）',
            href: '/copyright02/',
          },
          {
            titleEN: 'Reproduction, etc. for class purposes (Article 35)',
            titleJP: '授業目的の複製等（35条）',
            href: '/copyright03/',
          },
          {
            titleEN: 'Amended Copyright Act Article 35 Guidelines',
            titleJP: '改正著作権法第35条運用指針',
            href: '/copyright04/',
          },
        ]}
      />
      <MenuItem
        isEN={isEN}
        href='/use/'
        titleEN='Q&A on the Use of Copyrighted Works in the Classroom'
        titleJP='授業における著作物利用Q&A'
        submenu={[
          {
            titleEN: 'Q&A on the Use of Copyrighted Works in the Classroom',
            titleJP: '授業における著作物利用Q&A',
            href: '/use/',
          },
        ]}
      />
      <MenuItem
        isEN={isEN}
        href='/permission/'
        titleEN='How to Obtain Permission'
        titleJP='許諾の取り方'
        submenu={[
          {
            titleEN: 'How to obtain permission for use',
            titleJP: '利用許諾の取り方&A',
            href: '/permission/',
          },
        ]}
      />
      <MenuItem isEN={isEN} href='/quiz/' titleEN='Quiz' titleJP='著作権クイズ' />
      <MenuItem isEN={isEN} href='/references/' titleEN='References' titleJP='資料集' className="mt-2" isSmall />
      <MenuItem isEN={isEN} href='/index/' titleEN='Index' titleJP='索引' isSmall />
      <MenuItem isEN={isEN} href='/team/' titleEN='Production Team' titleJP='制作チーム紹介' isSmall />
      <MenuItem isEN={isEN} href='/afterwords/' titleEN='This Project' titleJP='おわりに' isSmall />
      <MenuItem isEN={isEN} href='/license/' titleEN='License' titleJP='ライセンス' isSmall />
    </ul>
  </nav>
</div>
